<template lang="pug">
.i-svg(v-html="svg")
</template>

<script>
import animateSvg from "@/mixins/animateSvg.js";

export default {
  props: {
    name: {
      type: String,
      required: true,
    },
  },
  computed: {
    svg() {
      const svg = require(`~/static/image/${this.name}.svg?raw`);
      return svg;
    },
  },
  mixins: [animateSvg],
};
</script>

<style lang="sass" scoped>
@import ISvg
</style>
