<template lang="pug">
.i-line
  .i-svg
    svg(
      width="1920",
      height="362",
      viewBox="0 0 1920 362",
      fill="none",
      xmlns="http://www.w3.org/2000/svg"
    )
      path(:d="path[idx]", stroke="#FEEFE5", stroke-width="2")
   
</template>

<script>
import ISvg from "@/components/ISvg/ISvg";
import dataSvg from "@/assets/dataSvg.json";
import { mapState } from "vuex";

export default {
  components: {
    ISvg
  },
  data() {
    return {
      animate: false,
      idx: 0,
      path: [
        "M 0 296.737 C 28.6661 303.191 48.2766 306.116 79.5 305.418 C 141.103 304.043 186.396 286.108 231 261.33 C 268.158 240.688 302.825 215.583 339 192.353 C 381.704 164.929 426.511 140.117 480 128.339 C 512.406 121.204 541.238 120.342 567.5 124.179 C 607.222 129.981 641.063 146.531 672.5 168.373 C 698.756 186.616 723.334 208.551 748.259 231 C 786.57 265.505 825.7 301.225 873 326.622 C 899.101 340.636 927.689 351.507 960 357.297 C 1023.79 368.727 1076.64 352.351 1125.88 326.622 C 1165.83 305.751 1203.4 278.724 1242.5 255.389 C 1281.66 232.023 1322.35 212.359 1368.5 206.288 C 1401.81 201.907 1437.95 204.604 1478.42 218.095 C 1520.36 232.078 1555.66 235.311 1586.2 231 C 1639.47 223.478 1678.25 192.993 1712.5 156.559 C 1745.82 121.114 1774.87 80.0392 1808.82 49 C 1839.58 20.8821 1874.36 1 1920 1",
        "M 0 296.737 C 79.5 305.418 0 296.737 79.5 305.418 C 231 261.33 79.5 305.418 231 261.33 C 339 192.353 231 261.33 339 192.353 C 480 128.339 339 192.353 480 128.339 C 567.5 124.179 480 128.339 567.5 124.179 C 672.5 168.373 567.5 124.179 672.5 168.373 C 748.259 231 672.5 168.373 748.259 231 C 873 326.622 748.259 231 873 326.622 C 960 357.297 873 326.622 960 357.297 C 1125.88 326.622 960 357.297 1125.88 326.622 C 1242.5 255.389 1125.88 326.622 1242.5 255.389 C 1368.5 206.288 1242.5 255.389 1368.5 206.288 C 1478.42 218.095 1368.5 206.288 1478.42 218.095 C 1586.2 231 1478.42 218.095 1586.2 231 C 1712.5 156.559 1586.2 231 1712.5 156.559 C 1808.82 49 1712.5 156.559 1808.82 49 C 1920 1 1808.82 49 1920 1",
        "M 0 296.737 C 79.5 338.7513333333333 0 296.737 79.5 338.7513333333333 C 231 237.99666666666667 79.5 338.7513333333333 231 237.99666666666667 C 339 265.6863333333333 231 237.99666666666667 339 265.6863333333333 C 480 135.00566666666666 339 265.6863333333333 480 135.00566666666666 C 566.7029866666667 174.9504951111111 480 135.00566666666666 566.7029866666667 174.9504951111111 C 672.5 135.03966666666665 566.7029866666667 174.9504951111111 672.5 135.03966666666665 C 743.316289 254.33333333333334 672.5 135.03966666666665 743.316289 254.33333333333334 C 873 229.95533333333333 743.316289 254.33333333333334 873 229.95533333333333 C 960 281.669467 873 229.95533333333333 960 281.669467 C 1126.194302 246.73700000000002 960 281.669467 1126.194302 246.73700000000002 C 1245.405405 331.669467 1126.194302 246.73700000000002 1245.405405 331.669467 C 1368.5 139.62133333333335 1245.405405 331.669467 1368.5 139.62133333333335 C 1478.42 184.76166666666666 1368.5 139.62133333333335 1478.42 184.76166666666666 C 1586.2 134.33333333333334 1478.42 184.76166666666666 1586.2 134.33333333333334 C 1712.5 133.22566666666665 1586.2 134.33333333333334 1712.5 133.22566666666665 C 1809.1611537777778 83.01801777777777 1712.5 133.22566666666665 1809.1611537777778 83.01801777777777 C 1920 1 1809.1611537777778 83.01801777777777 1920 1",
        "M 0 296.737 C 79.5 336.1322857142857 0 296.737 79.5 336.1322857142857 C 231 299.5442857142857 79.5 336.1322857142857 231 299.5442857142857 C 325.376187 174.8594285714286 231 299.5442857142857 325.376187 174.8594285714286 C 480 183.33899999999997 325.376187 174.8594285714286 480 183.33899999999997 C 566.90224 83.68619276190476 480 183.33899999999997 566.90224 83.68619276190476 C 666.179693 136.052228 566.90224 83.68619276190476 666.179693 136.052228 C 744.718773 105.504383 666.179693 136.052228 744.718773 105.504383 C 876.552228 275.263331 744.718773 105.504383 876.552228 275.263331 C 960 224.8620645357143 876.552228 275.263331 960 224.8620645357143 C 1128.55366 291.9084931071428 960 224.8620645357143 1128.55366 291.9084931071428 C 1241.3839614285714 224.58949310714286 1128.55366 291.9084931071428 1241.3839614285714 224.58949310714286 C 1368.5 244.8594285714286 1241.3839614285714 224.58949310714286 1368.5 244.8594285714286 C 1478.42 108.80928571428569 1368.5 244.8594285714286 1478.42 108.80928571428569 C 1583.403944 155.50438300000002 1478.42 108.80928571428569 1583.403944 155.50438300000002 C 1705.420015 62.392622 1583.403944 155.50438300000002 1705.420015 62.392622 C 1806.7447122857143 91.07142857142858 1705.420015 62.392622 1806.7447122857143 91.07142857142858 C 1920 1 1806.7447122857143 91.07142857142858 1920 1",
        "M 0 296.737 C 88.356465 313.43718 0 296.737 88.356465 313.43718 C 227.202337 194.226077 88.356465 313.43718 227.202337 194.226077 C 345.010957 260.142805 227.202337 194.226077 345.010957 260.142805 C 478.246896 126.906866 345.010957 260.142805 478.246896 126.906866 C 579.225712 194.226077 478.246896 126.906866 579.225712 194.226077 C 671.789627 79.222425 579.225712 194.226077 671.789627 79.222425 C 757.341125 199.836012 671.789627 79.222425 757.341125 199.836012 C 869.53981 186.2017928 757.341125 199.836012 869.53981 186.2017928 C 966.311176 281.180058 869.53981 186.2017928 966.311176 281.180058 C 1123.389335 138.85599540476193 966.311176 281.180058 1123.389335 138.85599540476193 C 1244.002922 206.84843 1123.389335 138.85599540476193 1244.002922 206.84843 C 1361.811541 138.85599540476193 1244.002922 206.84843 1361.811541 138.85599540476193 C 1474.010226 251.727904 1361.811541 138.85599540476193 1474.010226 251.727904 C 1586.208912 159.163988 1474.010226 251.727904 1586.208912 159.163988 C 1704.017531 194.226077 1586.208912 159.163988 1704.017531 194.226077 C 1820.423667 159.163988 1704.017531 194.226077 1820.423667 159.163988 C 1920 1 1820.423667 159.163988 1920 1",
        "M 0 296.737 C 107.991234 258.740321 0 296.737 107.991234 258.740321 C 225.799854 105.869613 107.991234 258.740321 225.799854 105.869613 C 343.608473 239.105551 225.799854 105.869613 343.608473 239.105551 C 471.234478 118.491965 343.608473 239.105551 471.234478 118.491965 C 568.005844 179.5 471.234478 118.491965 568.005844 179.5 C 659.167275 193.10897 568.005844 179.5 659.167275 193.10897 C 754.536158 165.98587183333333 659.167275 193.10897 754.536158 165.98587183333333 C 870.942294 128.30935 754.536158 165.98587183333333 870.942294 128.30935 C 960 239.105551 870.942294 128.30935 960 239.105551 C 1121.986852 105.869613 960 239.105551 1121.986852 105.869613 C 1241.197955 239.105551 1121.986852 105.869613 1241.197955 239.105551 C 1366.018992 208.250913 1241.197955 239.105551 1366.018992 208.250913 C 1495.04748 239.105551 1366.018992 208.250913 1495.04748 239.105551 C 1582.001461 165.98587183333333 1495.04748 239.105551 1582.001461 165.98587183333333 C 1711.029949 165.98587183333333 1582.001461 165.98587183333333 1711.029949 165.98587183333333 C 1793.776479 227.885683 1711.029949 165.98587183333333 1793.776479 227.885683 C 1920 1 1793.776479 227.885683 1920 1"
      ]
    };
  },

  watch: {
    step(newVal, oldVal) {
      if (newVal === 2) {
        this.animation();
        this.animate = true;
        this.idx++;
      } else {
        this.animate = false;
      }
    }
  },
  methods: {
    animation() {
      let animationLine = setInterval(() => {
        if (this.idx === this.path.length - 1) {
          this.idx = 2;
        } else {
          this.idx++;
        }
        if (!this.animate) {
          clearInterval(animationLine);
          let end1 = setTimeout(() => {
            this.idx = 1;
            clearInterval(end1);
          }, 1);
          let end2 = setTimeout(() => {
            this.idx = 0;
            clearInterval(end2);
          }, 800);
        }
      }, 1000);
    }
  },
  computed: {
    ...mapState({
      step: state => state.step
    })
  }
};
</script>

<style lang="sass" scoped>
@import ILine
</style>
