.i-line
  position: absolute
  width: 100vw
  overflow: hidden
  left: 0
  top: calc(var(--vh, 1vh) * 41)
  height: 100%
  z-index: 10
  & /deep/ .i-svg
    left: 0
    top: 0
    width: inherit
    position: absolute
    svg
      width: 100vw
      height: auto
      path
        transition: 1s
        stroke: $green
        width: 100vw

  &.white
    z-index: 15
    & /deep/ .i-svg
      svg
        path
          stroke: $white

.step-down
  .iline-enter-active
    transition: width 3s $bezier 3s

  .iline-enter
    width: 0

.step-3, .step-2
  .iline-enter-active, .iline-leave-active
    transition: opacity 1s $bezier

  .iline-enter, .iline-leave-to
    opacity: 0

@media screen and (max-width: $medium)
  .i-line
    width: 180vw
    & /deep/ .i-svg
      svg
        width: 180vw
  .i-bg
    .i-line
      margin-left: -40vw

@media screen and (max-width: 425px)
  .i-line
    &.white
      top: calc(var(--vh, 1vh) * 50)
