$bot: 1,2,3,4,5,6,7,8,9,15,17,18,19,22,24,25,26,29,31,32,33,36,43
$top: 1,2,3,4,5,6,7,8,9,10,11,13,14,15,19,20,22,25,26,29,31
$next: 1,2,3,4,6,7,8,11,12,13,16,19,25
$prev: 3,7,11,12,13,14,15,17,23
$scroll: 1,2,3,4,6,7,8,11,12,13,16

.i-nav-btn
  transition: .3s $bezier
  position: relative
  background-color: transparent
  cursor: pointer
  padding: 0
  display: block

  div
    display: flex
    flex-wrap: wrap

  span
    display: flex
    align-items: center
    justify-content: center
    position: relative
    opacity: 0

    &::before
      padding-top: 100%
      content: ''
      display: block
    &:after
      width: 2px
      height: 2px
      background-color: #fff
      content: ''
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)

  &.top
    width: 8rem
    height: 8rem
    margin-top: 11rem
    margin-left: 11rem
    z-index: 90
    position: absolute
    &:hover
      padding-right: 4rem
      padding-bottom: 4rem
    span
      width: 14%

      @each $i in $bot
        &[data-idx="#{$i}"]
          opacity: 1

  &.bot
    position: absolute
    right: 10rem
    bottom: 10rem
    z-index: 90
    width: 7rem
    height: 7rem
    div
      transform: rotate(180deg)
    &:hover
      padding-left: 3rem
      padding-top: 3rem
    span
      width: 16.6%
      @each $i in $top
        &[data-idx="#{$i}"]
          opacity: 1

  &.next, &.scroll
    width: 4rem
    height: 4rem
    span
      width: 20%

    &:hover
      padding-right: 1.2rem
      padding-bottom: 1.2rem

  &.next
    span
      @each $i in $next
        &[data-idx="#{$i}"]
          opacity: 1

  &.scroll
    align-content: center
    justify-content: center
    transform: rotate(45deg)
    span
      @each $i in $scroll
        &[data-idx="#{$i}"]
          opacity: 1

  &.prev
    width: 7rem
    height: 7rem
    span
      width: 20%
      @each $i in $prev
        &[data-idx="#{$i}"]
          opacity: 1

.inavbtn-top-enter-active
  transition: all .5s $bezier 1.4s

.inavbtn-top-enter
  transform: translate(5rem, 5rem)
  opacity: 0

.inavbtn-bot-enter-active
  transition: all .5s $bezier 5.5s

.inavbtn-bot-enter
  transform: translate(-5rem, -5rem)
  opacity: 0

@media screen and (max-width: $medium)
  .i-nav-btn
    &.bot
      right: 3rem
      bottom: 3rem

    &.top
      display: none

@media screen and (max-width: 425px)
  .i-nav-btn
    &.bot
      display: none
