<template lang="pug">
button.i-nav-btn(:class="type", @click="$emit('click')" @mouseenter="cursorPoenter($event)" @mouseleave="cursorReset()") 
  div
    span(v-for="idx in count", :data-idx="idx")
</template>

<script>
export default {
  data() {
    return {
      count: 0
    };
  },
  props: {
    type: {
      type: String
    }
  },
  mounted() {
    this.counter();
  },
  methods: {
    counter() {
      if (this.type === "top") {
        this.count = 49;
      } else if (this.type === "bot") {
        this.count = 36;
      } else if (this.type === "prev") {
        this.count = 49;
      } else if (this.type === "next") {
        this.count = 25;
      } else if (this.type === "scroll") {
        this.count = 25;
      }
    },
    cursorPoenter(event, id) {
      console.log(event.target);
      if (event.target.classList.contains("scroll")) {
        this.$store.dispatch("TOGGLE_CURSOR", "pointer-scroll");
      } else {
        this.$store.dispatch("TOGGLE_CURSOR", "pointer");
      }
    },
    cursorReset() {
      this.$store.dispatch("TOGGLE_CURSOR", "");
    }
  }
};
</script>

<style lang="sass">
@import INavBtn
</style>
