<template lang="pug">
.i-block-news
  h2.title-block News
  .row.i-block-news-list
    a.i-block-news-item.big(href="#")
      .i-block-news-item-image
        img(src="/image/news-1.png", alt="")
      .i-block-news-item-desc
        .group
          p Trump to 'sign executive order about social media'
          p US President Donald Trump will sign an executive order targeting social media firms, the White House has said.
        INavBtn(type="next") 

    transition(name="news-item")
      a.i-block-news-item.medium(href="#", v-if="active > 1")
        .i-block-news-item-image
          img(src="/image/news-2.png", alt="")
        .i-block-news-item-desc
          .group
            p Trump to 'sign executive order about social media'
            p US President Donald Trump will sign an executive order targeting social media firms, the White House has said.

    transition(name="news-item")
      a.i-block-news-item.small(href="#", v-if="active > 2")
        .i-block-news-item-image
          img(src="/image/news-3.png", alt="")
        .i-block-news-item-desc
          .group
            p Trump to 'sign executive order about social media'
            p US President Donald Trump will sign an executive order targeting social media firms, the White House has said.
</template>

<script>
export default {
  data() {
    return {
      active: 0
    };
  },
  props: {
    line: {
      type: Boolean
    }
  },
  mounted() {
    let self = this;
    let animationStart = setInterval(() => {
      self.active++;
      if (self.active === 3) {
        clearInterval(animationStart);
      }
    }, 300);
  }
};
</script>

<style lang="sass" scoped>
@import IBlockNews
</style>
