.start-animation
  .i-block-news
    position: absolute
    z-index: 80
    bottom: 0

.i-block-news
  &-list
    width: 100%

  &-item
    width: 100%

    &.big
      max-width: calc(48% - 3rem)
      .group
        p:first-child
          margin-bottom: 2rem

      .i-block-news-item-image
        max-height: 40vh

    &.medium, &.small
      max-width: calc(26% - 3rem)

      .i-block-news-item-image
        max-height: 30vh

      .i-block-news-item-desc
        max-width: 37rem

    &.small
      margin-right: 0
      margin-left: auto

    &-image
      width: 100%
      margin-bottom: 3rem
      overflow: hidden

      img
        width: 100%
        height: 100%
        object-fit: cover

    &-desc
      display: flex
      align-items: flex-start
      justify-content: space-between
      .i-nav-btn
        transform: rotate(90deg)
        margin-left: 10rem
      .group
        p:first-child
          font-weight: bold
          font-size: 2.4rem
          line-height: 100%
          letter-spacing: -0.01em
          margin-bottom: 1rem

        p
          font-style: normal
          font-weight: normal
          font-size: 1.8rem
          line-height: 140%
          letter-spacing: -0.03em

// News-Item
.news-item-enter-active
  transition: all .5s $bezier

.news-item-enter
  transform: translateY(20%)
  opacity: 0

@media screen and (min-width: $desctop)
  .i-block-news
    left: 20rem
    width: calc(100vw - 30rem)
    height: calc(var(--vh, 1vh) * 100 - 20rem)
    .title-block
      margin-bottom: 5vh

    &-item
      margin-right: 4.5rem

@media screen and (max-width: $medium)
  .i-block-news
    left: 6.5rem
    width: calc(100vw - 9.5rem)
    height: calc(var(--vh, 1vh) * 100 - 16rem)

    .title-block
      margin-bottom: 9rem

    &-list
      flex-direction: column
      max-height: 45rem
      justify-content: space-between

    &-item
      margin-right: 3rem

      &-desc
        .group
          p:first-child
            font-size: 1.8rem
            margin-bottom: 1.4rem!important
            line-height: 100%
          p
            font-size: 1.2rem

      &.big
        max-width: calc(70% - 3rem)
        margin-right: 3rem
        .i-block-news-item-image
          margin-bottom: 2rem

      &.small,
      &.medium
        max-width: 30%
        margin-right: 0
        .i-block-news-item-image
          display: none

      &.small
        margin-top: 9rem

@media screen and (max-width: $tablet)
  .i-block-news
    position: relative

@media screen and (max-width: 425px)
  .i-block-news
    padding: 12rem 2rem
    width: 100%
    left: 0
    height: auto
    .title-block
      margin-bottom: 6rem

    &-list
      max-height: none
      align-items: flex-end

    &-item

      &.small, &.medium
        max-width: 18rem
        margin-right: 0rem
        margin-top: 2rem

        .i-block-news-item-desc
          .group
            p:first-child
              margin-bottom: 1rem!important
              font-size: 1.8rem
            p
              font-size: 1.4rem

      &.big
        max-width: 100%
        margin-right: 0rem
        margin-bottom: 3rem

      &-desc
        .i-nav-btn
          margin-left: 0
