<template lang="pug">
  .i-group-icon(v-if="content")
    ISvg(:name="content.svg" v-if="content.svg")
    div(v-html="content.description")
 
</template>

<script>
import ISvg from '@/components/ISvg/ISvg';
export default {
  components: {
    ISvg,
  },
  props: {
    content: {
      type: Object,
      required: false,
      default: {}
    }
  }
};
</script>

<style lang="sass">
@import IGroupIcon
</style>
