.i-group-icon
  margin-bottom: 5rem
  max-width: 84rem
  &.no-title
    display: flex
    flex-wrap: wrap
    .i-svg
      margin-right: 2rem
      margin-bottom: 0

    .text
      max-width: 72rem

    ul
      margin-top: 5rem
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      width: 100%
      li
        min-width: calc(50% - 2rem)

  &:last-child
    margin-bottom: 0
  .i-svg
    width: 10rem
    margin-bottom: 2rem

  h3, h4, li
    margin-bottom: 2rem

  p
    margin-bottom: 2rem
    &:last-child
      margin-bottom: 0

@media screen and ( max-width: 1024px )
  .i-group-icon
    margin-bottom: 4rem
    .i-svg
      width: 6rem

    &.no-title
      .i-svg
        margin-bottom: 2rem
