<template lang="pug">
.i-block-platforms
  h2.title-block Multiple TRADING <br>Platforms
  .row
    .i-block-platforms-navigation
      INavBtn(type="next", @click="navDown()")
      ul.i-block-platforms-navigation-list
        li(
          v-for="(item, idx) in listNav",
          :key="idx",
          :class="[{ active: idx === active }]",
          @click="active = idx"
        ) {{ item }}
      INavBtn(type="next", @click="navUp()")

    transition-group.i-block-platforms-content(name="list", tag="div")
      .i-block-platforms-item(
        v-for="(item, idx) in list",
        v-if="idx === active || windowWidth <= 425",
        :key="idx",
        :class="[item, { active: idx === active }, { prev: idx > active }, { next: idx < active }]"
      )
        .i-block-platforms-item-image
          img(:src="`/image/${item}-bg.png`", alt="alt")
          ISvg(:name="item")
        .i-block-platforms-item-desc
          h3 Tablet Trader {{ item }}
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis convallis porta. Ut iaculis et purus vel cursus. In hac habitasse platea dictumst. Nam porttitor consequat lacus eu venenatis. Morbi volutpat risus vel sapien tincidunt, nec feugiat tellus dapibus. Maecenas non luctus erat. Donec ac nisi porta, mattis lorem quis, congue arcu. In ultricies laoreet pharetra. Praesent libero nunc, vehicula sed mauris sit amet, aliquet porta urna. Nullam vel dolor rutrum, ullamcorper nisl vitae, rhoncus nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          IButton.small(text="Learn more") 
</template>

<script>
import { vueWindowSizeMixin } from "vue-window-size";

export default {
  data() {
    return {
      active: 0,
      listNav: ["MetaTrader 4", "Web Trader", "Tablet Trader", "Mobile Trader"],
    };
  },
  props: {
    list: {
      type: Array,
    },
  },
  mixins: [vueWindowSizeMixin],
  methods: {
    navUp() {
      if (this.active < this.listNav.length - 1) {
        this.active++;
      }
    },
    navDown() {
      if (this.active > 0) {
        this.active--;
      }
    },
  },
};
</script>

<style lang="sass" scoped>
@import IBlockPlatforms
</style>
