.i-block-platforms
  position: absolute
  z-index: 80
  bottom: 0

  .title-block
    margin-bottom: 7vh

  &-navigation
    .i-nav-btn.next
      margin-bottom: 6vh
      margin-left: -6rem

    &-list + .i-nav-btn.next
      margin-left: auto
      margin-right: -6rem
      margin-top: 6vh
      transform: rotate(180deg)

    li
      font-weight: bold
      font-size: 1.8rem
      line-height: 1.7rem
      letter-spacing: 0.1em
      text-transform: uppercase
      color: #feefe5
      opacity: 0.6
      margin-bottom: 4rem
      transition: .3s $bezier
      position: relative
      width: 100%
      cursor: pointer
      &::after
        position: absolute
        top: 50%
        right: 0%
        content: ''
        height: 0.2rem
        background-color: $white
        transform: translate(0% , -50%)
        margin-right: -4.4rem
        transition: .3s $bezier
        width: 0
      &.active, &:hover
        opacity: 1

        &::after
          width: 8.8rem
      &:last-child
        margin-bottom: 0

  &-content
    max-width: calc(100% - 30rem)
    width: 100%
    position: relative

  &-item
    position: absolute
    top: 0
    left: 0
    display: flex
    align-items: center
    width: 100%
    padding-left: 16rem
    box-sizing: border-box

    &.meta
      .i-block-platforms-item-image
        .i-svg
          width: 94%
          top: 37%
          right: 0
          transform: translate(2%, -50%)

    &.web
      .i-block-platforms-item-image
        .i-svg
          width: 74%
          top: 46%
          right: 0
          transform: translate(-3%, -50%)

    &.tablet
      .i-block-platforms-item-image
        .i-svg
          width: 52%
          top: 48%
          right: 0
          transform: translate(-30%, -50%)

    &.mobile
      .i-block-platforms-item-image
        .i-svg
          width: 40%
          top: 48%
          right: 43%
          transform: translate(50%, -50%)

    &-image
      width: 100%
      max-width: 52rem
      display: flex
      align-items: center
      justify-content: center
      position: relative
      img
        width: 100%
        height: auto

      & /deep/ .i-svg
        background-color: $white
        opacity: 0
        animation: opacity 1s $bezier .5s forwards
        position: absolute
        box-shadow: -0.8rem 0.8rem 3.2rem rgba(0, 28, 71, 0.4)

    &-desc
      width: 100%
      max-width: 48rem
      margin-left: 12.8rem
      h3
        margin-bottom: 4rem

      p
        font-size: 1.8rem
        line-height: 140%
        letter-spacing: -0.03em
        margin-bottom: 3rem

@keyframes opacity
  100%
    opacity: 1

// Platforms
.list-enter-active, .list-leave-active
  transition: all .5s $bezier

.list-enter
  opacity: 0
  transform: translateY(10rem)

.list-leave-to
  opacity: 0
  transform: translateY(-15rem)

.platforms-enter-active
  transition: all 1s $bezier
  transition-delay: 2s

.platforms-leave-active
  transition: all 1s $bezier

.step-up
  .platforms-enter-active
    transition-delay: 0s

  .platforms-enter
    transform: translateY(calc(var(--vh, 1vh) * -100))

  .platforms-leave-to
    transform: translateY(calc(var(--vh, 1vh) * 100))

.step-down
  .platforms-enter
    transform: translateY(calc(var(--vh, 1vh) * 100)) scale(.8, .8)
    opacity: 0

  .platforms-leave-to
    transform: translateY(calc(var(--vh, 1vh) * -100)) scale(1, 1)

@media screen and (min-width: $desctop)
  .i-block-platforms
    left: 20rem
    width: calc(100vw - 30rem)
    height: calc(var(--vh, 1vh) * 100 - 20rem)

    &-navigation
      width: 30rem

@media screen and (max-width: $medium)
  .i-block-platforms
    left: 0
    padding-left: 6.5rem
    width: calc(100vw - 8rem)
    height: calc(var(--vh, 1vh) * 100 - 15rem)

    .i-nav-btn.next
      margin-left: -3rem
      margin-bottom: 6rem
      margin-top: 8rem

    &-navigation
      width: 19.5rem
      li
        font-size: 1.4rem
        line-height: 1.3rem
        margin-bottom: 2rem
        &::after
          margin-right: -2rem

        &.active, &:hover
          &::after
            width: 4rem

      &-list
        & + .i-nav-btn.next
          margin-left: auto
          margin-right: 3rem

    &-content
      max-width: calc(100% - 19.5rem)

    &-item
      padding-left: 5.5rem
      flex-direction: column

      &.tablet
        .i-block-platforms-item-image
          margin-bottom: 2rem

      &.mobile
        .i-block-platforms-item-image
          margin-bottom: 2rem

      &-desc
        margin-left: 0
        h3
          margin-bottom: 3rem

        p
          font-size: 1rem
          line-height: 140%
          margin-bottom: 2rem

        .i-button.small
          width: 11rem

    .title-block
      margin-bottom: 1rem

@media screen and (max-width: $tablet)
  .i-block-platforms
    position: relative
    padding-top: 14rem
    // height: auto

@media screen and (max-width: 425px)
  .i-block-platforms
    left: 0
    padding: 12rem 2rem
    width: 100vw
    height: auto
    .title-block
      margin-bottom: 6rem
    &-navigation
      display: none

    &-content
      max-width: 90%

    &-item
      padding-left: 0
      position: static
      margin-bottom: 6rem
      &:last-child
        margin-bottom: 0

      &-desc
        max-width: 32rem
        h3
          margin-bottom: 1rem
        p
          font-size: 1.4rem

        .i-button.small
          width: 10rem

      &.meta
        .i-block-platforms-item-image
          max-width: 36rem

      &.web
        .i-block-platforms-item-image
          max-width: 34rem
      &.tablet
        .i-block-platforms-item-image
          max-width: 25rem
      &.mobile
        .i-block-platforms-item-image
          max-width: 20rem
