.i-bg-back
  position: absolute
  left: 50%
  bottom: 0
  width: 100vw
  height: 94vh
  z-index: 60
  transform: translate3d(-50%, 0, 0) scale3d(1, 1, 1)

  img
    margin-top: 1px
    width: 100%

.step-down
  .ibg-back-enter-active
    transition: all 2s $bezier
    transition-delay: .8s

  .ibg-back-leave-active
    transition-delay: 1s

  .ibg-back-enter
    transform: translate3d(-50%, 200vh, 0) scale3d(2, 2, 1)

@media screen and (max-width: $medium)
  .i-bg-back
    width: 160vw
    transform: translate3d(-50%, 18%, 0) scale3d(1, 1, 1)

  .ibg-back-enter
    transform: translate3d(-50%, 200vh, 0) scale3d(2, 2, 1)

  .step-up
    .ibg-back-enter
      transform: translate3d(-50%, 18%, 0) scale3d(1, 1, 1)

@media screen and (max-width: 425px)
  .i-bg-back
    transform: translate3d(-50%, 25%, 0) scale3d(1, 1, 1)
