<template lang="pug">
  .i-bg-back
    img(src="/image/bg-back.png", alt="alt")
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style lang="sass" scoped>
@import IBgBack
</style>
