<template lang="pug">
  .i-form
    form
      div.row(v-for="(row, idx) in form" :key="idx") 
        div(v-for="(col, col_key) in row.row" :key="col_key" :class="'col-'+col.col")
          template(v-for="(el, key) in col")
            .tel(v-if="key === 'phone'")
              label(v-if="el.label") {{el.label}}
              component(:is="el.name" :type="el.type", :placeholder="el.placeholder")


            .policy(v-else-if="key === 'policy'")
              label
                input(type="checkbox" name="risk")
                span
                p I accept the&nbsp
                  a(href="#") Terms & Conditions
                  | &nbspof the Trades.com<br>
                  a(href="#") Risk Disclosure

              label
                input(type="checkbox" name="police")
                span
                p I’m aware that my personal data will be under <br>the&nbsp
                  a(href="#") Privacy Policy
                  | &nbsp and &nbsp
                  a(href="#") Cookie Policy
                  
            component.i-button(v-else-if="key === 'submit'" :is="el.name" :type="el.type", :placeholder="el.value") {{el.value}}
            
            template(v-else-if="key === 'message'")
              label(v-if="el.label") {{el.label}}
              component(:is="el.name" :placeholder="el.placeholder")
            
            label(v-else-if="key === 'file'" :class="key")
              p
                b Supportive docs
              .btn-file Browse
              component(:is="el.name" :type="el.type")
            template(v-else)
              label(v-if="el.label") {{el.label}}
              component(:is="el.name" :type="el.type", :placeholder="el.placeholder") 
</template>

<script>
import IButton from '@/components/IButton/IButton';
export default {
  components: {
    IButton,
  },
  props: {
    form: {
      type: Array,
      required: true,
    }
  },
};
</script>

<style lang="sass">
@import IForm
</style>
