.i-form
  display: flex
  align-items: center
  width: 100%
  box-sizing: border-box
  margin-top: 3rem
  max-width: calc(100% - 44rem)
  margin-left: auto
  form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%

  .row
    justify-content: space-between
    width: 100%

  .col-1
    max-width: 100%

  .col-2
    max-width: calc(50% - 2rem)

  .col-3
    max-width: calc(33.333% - 2rem)

  .col-4
    max-width: calc(25% - 2rem)

  .col-6
    max-width: calc(67.333% - 2rem)

  [class*="col-"]
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    & > label, .tel label
      font-weight: normal
      font-size: 1.6rem
      line-height: 90%
      letter-spacing: -0.01em
      color: $white
      margin-bottom: 1rem
      display: block

  .policy
    label
      display: flex
      margin-bottom: 1.2rem
      cursor: pointer
      span
        margin-right: 1rem

      p
        margin-top: -0.2rem
        font-size: 1.2rem
        line-height: 100%
        letter-spacing: -0.01em

  .i-button
    width: 100%
    height: 5rem
    font-weight: bold
    font-size: 1.2rem
    line-height: 1.1rem
    letter-spacing: 0.1em

  a
    font-size: inherit
    text-decoration: none

  label.file
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-end
    input
      display: none
    .btn-file
      margin-left: 1rem
      width: 17rem
      height: 5rem
      background: $white
      box-sizing: border-box
      font-weight: bold
      font-size: 1.2rem
      line-height: 1.1rem
      display: flex
      align-items: center
      justify-content: center
      letter-spacing: 0.1em
      text-transform: uppercase
      color: $blue

@media screen and ( max-width: 1024px )
  .i-form
    max-width: 100%

    .i-button
      height: 3.4rem

    .col-2
      max-width: calc(50% - 1rem)

    [class*="col-"] > label, [class*="col-"] .tel label
      font-size: 1.2rem

    label.file
      margin-right: -1rem
      width: calc(100% + 1rem)
      .btn-file
        width: 12rem
        height: 3.4rem
