<template lang="pug">
.i-bar(:class="{ line: line }")
  .i-bar-wrapper
    .i-bar-gradient(v-if="!line")

    .i-bar-skew-wrapper.big
      ISvg(name="ibar-big")

    .i-bar-skew-wrapper.medium
      ISvg(name="ibar-medium")

    .i-bar-skew-wrapper.small
      ISvg(name="ibar-small")

    .i-bar-orbite.before(v-if="!line")
      <svg width="802" height="802" viewBox="0 0 802 802" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="top" d="M582.808 757.39C712.329 691.184 801 556.447 801 401C801 294.04 759.019 196.886 690.635 125.115" stroke="red" stroke-width="1"/>
        <path class="bot" d="M582.807 757.39C528.259 785.273 466.466 801 400.999 801C286.923 801 184 753.246 111.131 676.639" stroke="blue" stroke-width="1"/>
      </svg>
      <svg class="reverse" width="802" height="802" viewBox="0 0 802 802" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="top" d="M582.808 757.39C712.329 691.184 801 556.447 801 401C801 294.04 759.019 196.886 690.635 125.115" stroke="red" stroke-width="1"/>
        <path class="bot" d="M582.807 757.39C528.259 785.273 466.466 801 400.999 801C286.923 801 184 753.246 111.131 676.639" stroke="blue" stroke-width="1"/>
      </svg>

    .i-bar-orbite.after(v-if="!line")
      <svg width="802" height="802" viewBox="0 0 802 802" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="right" d="M690.634 125.115C617.778 48.6515 514.954 1 401 1C180.086 1 1 180.086 1 401C1 507.837 42.8855 604.892 111.131 676.638" stroke="green" stroke-width="1"/>
      </svg>
      <svg class="reverse" width="802" height="802" viewBox="0 0 802 802" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="right" d="M690.634 125.115C617.778 48.6515 514.954 1 401 1C180.086 1 1 180.086 1 401C1 507.837 42.8855 604.892 111.131 676.638" stroke="green" stroke-width="1"/>
      </svg>
</template>

<script>
export default {
  props: {
    line: {
      type: Boolean,
      required: false,
    },
  },
  mounted() {},
};
</script>

<style lang="sass" scoped>
@import IBar
</style>
