
$size_big: 64rem

.step-2.step-up
  .i-bar.line
    transition-delay: .2s

    .i-bar
      &-skew-wrapper
        transition-delay: .2s

.i-bar
  position: absolute
  top: 0vh
  left: 0vw
  width: 100vw
  height: calc(var(--vh, 1vh) * 100)
  z-index: 65
  overflow: hidden
  pointer-events: none

  &.line
    z-index: 80

    & /deep/ .i-svg
      .bar
        display: none
      circle 
        stroke: #fff

  &-orbite
    svg
      &.reverse
        path
          &.top
            animation: an-dash .2s ease-in 3s forwards
          &.right
            animation: an-dash .3s linear 3.2s forwards
          &.bot
            animation: an-dash .5s ease-out 3.5s forwards

      path
        &.bot
          animation: an-dash .2s ease-in 3.5s forwards
        &.right
          animation: an-dash .3s linear 3.7s forwards
        &.top
          animation: an-dash .8s ease-out 4s forwards

  &-wrapper
    position: absolute
    top: 50vh
    left: 50vw
    transform: translate(-50%, -50%)
    width: $size_big

    &::after
      padding-top: 100%
      content: ''
      display: block
      position: relative
      z-index: -1

  &-gradient
    width: 100%
    height: 100%
    top: 50%
    left: 50%
    position: absolute
    transform: translate(-50%, -50%)
    background: radial-gradient(46.71% 46.71% at 50% 50%, $green 0%, rgba(0, 145, 110, 0) 100%)
    z-index: -1

  &-skew-wrapper
    transition: 1s $bezier
    position: absolute
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%
    width: 100%
    height: 100%

    & /deep/ .i-svg
      width: 100%
      animation: an-spin 26s linear infinite
      svg
        width: 100%
        z-index: 1
        .bar
          animation: an-width 10s $bezier 2s infinite

    &.medium
      & /deep/ .i-svg
        animation-direction: reverse
        svg .bar
          animation: an-width 10s $bezier 2s infinite reverse

  &-orbite
    z-index: 2
    width: calc(#{$size_big} - 25%)
    position: absolute
    left: 50%
    top: 50%
    z-index: 100
    transform: translate(-50%, -50%)
    &::after
      padding-top: 100%
      content: ''
      display: block
      position: relative
      z-index: -1

    &.after
      z-index: -1
      svg
        transform: skew(-27deg, -27deg)
        &.reverse
          transform: skew(27deg, 27deg) scale(-1 ,1)

    &.before
      z-index: 2
      svg
        transform: skew(-27deg, -27deg)
        &.reverse
          transform: skew(27deg, 27deg) scale(-1 ,1)

    svg
      width: 100%
      height: 100%
      position: absolute
      top: 0%
      left: 0%

      &.reverse
        path
          &.top
            stroke-dashoffset: 750
          &.right
            stroke-dashoffset: 1260
          &.bot
            stroke-dashoffset: -520

      path
        stroke: $white
        &.bot
          stroke-dasharray: 520
          stroke-dashoffset: 520
        &.right
          stroke-dashoffset: -1260
          stroke-dasharray: 1260
        &.top
          stroke-dasharray: 750
          stroke-dashoffset: -750

// Visible change IBar

.ibar-enter-active, .ibar-leave-active
  transition: all 2s $bezier
  transition-delay: .8s

.ibar-enter
  transform: translateY(120vh) scale(1.4, 1.4)

.step-up
  .ibar-enter
    transform: translateY(0%) scale(1)

.start-animation
  .i-bar.transform
    &.line
      opacity: 0.5

    .i-bar

      &-desc
        opacity: 0

      &-list

      &-skew-wrapper
        &.big
          transform: skew(30deg, 5deg)
          top: -40vh
          left: 40vw

        &.medium
          transform: skew(30deg, 0deg) scale(2)
          top: 40vh
          left: -40vw

        &.small
          transform: skew(-30deg, 0deg) scale(1.5)
          top: 50vh
          left: 45vw

@media screen and (min-width: $desctop)

  // Visible change IBar.line

  .ibar-line-enter-active,
  .ibar-line-leave-active
    transition: width 1s $bezier

  .ibar-line-leave-active
    transition-delay: 1s

  .ibar-line-enter,
  .ibar-line-leave-to
    width: 50rem

@media screen and (max-width: $medium)
  .start-animation
    .i-bar
      // &.line
      //   transition: .5s $bezier
      // &.transform
      //   opacity: 0

  // Visible change IBar.line

  .ibar-line-enter-active,
  .ibar-line-leave-active
    transition: width 1s $bezier

  .ibar-line-enter,
  .ibar-line-leave-to
    width: 0rem

// @media screen and (max-width: $mobile)
//   .home
//     padding-top: 200vh

@media screen and (max-width: 425px)
  .i-bar
    &-wrapper
      width: 95vw
      max-width: 40rem

    &-orbite
      width: calc(95vw - 25%)
      max-width: 40rem

    &.line
      .i-bar-wrapper
        transform: translate(-50%, 0%)
        top: 10vh
