<template lang="pug">
.i-block-form
  h2.title-block Create an account
  .row
    .i-block-form-sidebar
      transition(name="in-form")
        h3(v-if="active > 0") Your ease of mind <br>is our priority

      .i-block-form-sidebar-list
        transition(name="in-form")
          .i-block-form-sidebar-item(v-if="active > 1")
            ISvg(name="create-1", :delay="0")
            p We're authorised <br>by top regulators.
        transition(name="in-form")
          .i-block-form-sidebar-item(v-if="active > 2")
            ISvg(name="create-2", :delay="0")
            p We're authorised <br>by top regulators.
        transition(name="in-form")
          .i-block-form-sidebar-item(v-if="active > 3")
            ISvg(name="create-3", :delay="0")
            p We're authorised <br>by top regulators.

      transition(name="in-form")
        p(v-if="active > 4") By signing up you will receive <br> marketing emails, which you <br>may unsubscribe from anytime.
      transition(name="in-form")
        p(v-if="active > 5") All trading involves risk. <br>Only risk capital you're prepared <br>to lose.

    .i-block-form-content
      transition(name="in-form")
        form(v-if="active > 6")
          .col-2
            input(type="text", placeholder="First name")
          .col-2
            input(type="text", placeholder="Last name")
          .col-1
            input(type="text", placeholder="Username")
          .col-1
            input(type="text", placeholder="E-mail")
          .col-1
            input(type="text", placeholder="Password")
          .col-4
            input(type="text", placeholder="+375")
          .col-3
            input(type="text", placeholder="Phone")

          .submit
            .group
              label
                input(type="checkbox")
                span
                p I accept the&nbsp
                  a(href="#") Terms & Conditions
                  | &nbspof the Trades.com&nbsp
                  a(href="#") Risk Disclosure
              label
                input(type="checkbox")
                span
                p I’m aware that my personal data will be under the&nbsp
                  a(href="#") Privacy Policy
                  | &nbsp and &nbsp
                  a(href="#") Cookie Policy

            IButton(type="submit" text="CREATE AN ACCOUNT")

</template>

<script>
export default {
  data() {
    return {
      active: 0
    };
  },
  props: {
    line: {
      type: Boolean
    }
  },
  mounted() {
    let self = this;
    let animationStart = setInterval(() => {
      self.active++;
      if (self.active === 7) {
        clearInterval(animationStart);
      }
    }, 200);
  }
};
</script>

<style lang="sass" scoped>
@import IBlockForm
</style>
