.i-block-form
  position: absolute
  z-index: 80
  bottom: 0

  &-sidebar
    h3
      min-width: 40rem
      margin-bottom: 0.3rem
      letter-spacing: 0.1em
      text-transform: uppercase
      line-height: 150%

    p
      letter-spacing: -0.03em
      max-width: 27.8rem
      line-height: 140%

    .i-block-form-sidebar-item
      display: flex
      align-items: center

      p
        letter-spacing: -0.01em
        margin-bottom: 0

  &-content
    display: flex
    align-items: center
    width: 100%
    box-sizing: border-box
    form
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      max-width: 58.4rem

    .submit
      width: 100%
      display: flex
      justify-content: space-between
      label
        display: flex
        margin-bottom: 1rem
        cursor: pointer
        span
          margin-right: 1rem

        p
          margin-top: -0.5rem
          font-size: 1rem
          line-height: 140%

      .group
        max-width: 34rem

    .i-button
      width: 22.4rem
      height: 4rem
      font-weight: bold
      font-size: 1.2rem
      line-height: 1.1rem
      letter-spacing: 0.1em

@media screen and (min-width: $desctop)
  .i-block-form
    left: 20rem
    width: calc(100vw - 30rem)
    height: calc(var(--vh, 1vh) * 100 - 20rem)
    .title-block
      margin-bottom: 5vh

    &-sidebar
      width: 30rem
      h3
        font-size: 3rem
      p
        font-size: 1.8rem
        margin-top: 3rem

      .i-block-form-sidebar-item
        margin-top: 3rem
        max-width: 24rem
        .i-svg
          height: 6.4rem
          width: 6.4rem

        p
          font-size: 1.4rem
          line-height: 90%
          margin-top: 0

    &-content
      max-width: calc(100% - 30rem)
      padding-left: 30rem

@media screen and (max-width: $medium)
  .i-block-form
    left: 6.5rem
    width: calc(100vw - 9.5rem)
    height: calc(var(--vh, 1vh) * 100 - 15rem)

    &-sidebar
      width: 19.5rem
      h3
        font-size: 1.8rem
      & > p
        font-size: 1.2rem
        margin-top: 2rem

      .i-block-form-sidebar-item
        margin-top: 2rem
        max-width: 100%
        .i-svg
          width: 4rem
          height: 4rem
          margin-right: 1rem

        p
          font-size: 1.2rem

    &-content
      max-width: calc(100% - 19.5rem)
      padding-left: 8rem

      .submit
        flex-direction: column

        .i-button
          margin-top: 2rem

    .title-block
      margin-bottom: 8rem

@media screen and (max-width: $tablet)
  .i-block-form
    position: relative

@media screen and (max-width: 425px)
  .i-block-form
    left: 0
    width: 100%
    padding-top: 12rem
    padding-left: 2rem
    padding-right: 2rem
    height: auto
    &:after
      height: 50%

    .title-block
      margin-bottom: 6rem

    &-content
      padding-left: 2rem
      margin-top: 6rem
      padding-top: 6rem
      background-color: $blue
      margin-left: -2rem
      padding-bottom: 9rem
      max-width: 100vw
      width: 100vw

      .i-button
        width: 100%
