<template lang="pug">
.i-bg
  transition(name="iline")
    ILine.white(v-show="animate")
  transition(name="idesc")
    IDesc(:num="2" v-show="step > 0 && step < 3 || !animation")
</template>

<script>
import ILine from "@/components/ILine/ILine";
import IDesc from "@/components/IDesc/IDesc";
import { mapState } from "vuex";

export default {
  components: {
    IDesc,
    ILine
  },
  props: {
    animate: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  computed: {
    ...mapState({
      step: state => state.step,
      animation: state => state.animation
    })
  }
};
</script>

<style lang="sass" scoped>
@import IBg
</style>
