
.i-bg
  transition: 1s $bezier
  position: absolute
  overflow: hidden
  width: 100vw
  height: calc(var(--vh, 1vh) * 100)
  left: 0
  top: 0
  z-index: 80
  background-color: $red
  pointer-events: none

@media screen and (min-width: $desctop)
  .start-animation
    .i-bg
      &.green
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
        background-color: $green
        transition-delay: 0s

      &.red
        transition-delay: 1s
        clip-path: polygon(10rem 10rem, 50rem 10rem, 50rem calc(var(--vh, 1vh) * 100 - 0rem), 10rem calc(var(--vh, 1vh) * 100 - 0rem))

    .start-animation.step-up
      .i-bg
        &.green
          transition-delay: .2s

  .i-bg
    background-color: $red
    height: calc(var(--vh, 1vh) * 100)
    transition-delay: 1s
    clip-path: polygon(10rem 10rem, 50rem 10rem, 50rem calc(var(--vh, 1vh) * 100 - 10rem), 10rem calc(var(--vh, 1vh) * 100 - 10rem))

  .ibg-enter, .ibg-leave-to
    height: 0vh

@media screen and (max-width: $medium)
  .start-animation
    .i-bg
      overflow: hidden
      &.green
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)

      &.red
        background-color: $red
        transition-delay: 1s
        clip-path: polygon(0 0, 26rem 0, 26rem 100%, 0 100%)

  .i-bg
    background-color: $green
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%)

@media screen and (max-width: $tablet)
  .i-bg
    background-color: $green
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    height: 100%
