.i-tarnslate
  .i-tarnslate-wrapper
    overflow: hidden
    display: block
    span
      display: block

.itarnslate-enter-active, .itarnslate-leave-active
  transition: transform 1s $bezier

.itarnslate-enter, .itarnslate-leave-to
  transform: translateY(100%)

.i-tarnslate.top
  .itarnslate-enter, .itarnslate-leave-to
    transform: translateY(-100%)

// Fade
.fade-enter-active, .fade-leave-active
  transition: opacity 1s $bezier

.fade-enter, .fade-leave-to
  opacity: 0
