<template lang="pug">
components.i-tarnslate(:is="type")
  template(v-if="typeof title === 'object' || typeof title === 'array'")
    span.i-tarnslate-wrapper(
      v-for="(text, idx) in title",
      :key="idx",
    )
      transition(name="itarnslate")
        span(v-if="start") {{ text }}

  span.i-tarnslate-wrapper(v-else)
    transition(name="itarnslate")
      span(v-if="start") {{ title }}
</template>

<script>
export default {
  name: "ITranslate",
  props: {
    start: {
      type: Boolean,
      required: false,
      default: false
    },
    title: {
      type: [String, Object, Array],
      required: true
    },
    tag: {
      type: String,
      required: false
    }
  },
  computed: {
    type() {
      if (this.tag) {
        return this.tag;
      }
      return "h1";
    }
  }
};
</script>

<style lang="sass">
@import ITranslate
</style>
