
.i-navigation
  position: absolute
  right: 2rem
  top: calc(var(--vh, 1vh) * 100 - 49rem)
  display: flex
  flex-direction: column
  align-items: center
  z-index: 90
  width: 5rem
  height: 39rem

  p
    height: 1rem
    width: 9rem
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $white
    transform: rotate(-90deg) translate(3.7rem, 1px)
    font-style: normal
    font-weight: 500
    font-size: 1rem
    line-height: 1rem
    white-space: nowrap
    cursor: pointer
    position: absolute
    bottom: 0

  &-list
    list-style: none
    padding: 0
    margin: 0
    margin-bottom: 10rem
    width: 2.1rem
    height: 29rem
    overflow: hidden

  &-item
    margin-bottom: 0.8rem
    width: 100%
    height: 2.8rem
    box-sizing: border-box
    padding: 0.4rem 1rem
    position: relative
    transition: .5s $bezier

    &.active
      height: 10rem

    &::after
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-1px, -50%)
      content: ''
      background-color: $white
      width: 1px
      height: calc(100% - 0.8rem)

.inavigation-height-enter-active
  transition: height 3s $bezier 3s

.inavigation-height-enter, .inavigation-height-leave-to
  height: 0

.inavigation-opacity-enter-active
  transition: opacity 1s $bezier 5.5s

.inavigation-opacity-enter, .inavigation-opacity-leave-to
  opacity: 0

@media screen and ( max-width: $medium )
  .i-navigation
    display: none
