<template lang="pug">
.i-navigation
  transition(name="inavigation-height")
    ul.i-navigation-list(v-if="step > 0")
      li.i-navigation-item(v-for="idx in 6", :class="classList(idx)") 

  transition(name="inavigation-opacity")
    p(@click="$emit('click')" v-if="step > 0") scroll down 

</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      active: 1
    };
  },
  methods: {
    classList(idx) {
      if (this.step === idx || (this.step === 7 && idx === 6)) {
        return "active";
      }
    }
  },
  computed: {
    ...mapState({
      step: state => state.step
    })
  }
};
</script>

<style lang="sass">
@import INavigation
</style>
