@keyframes an-dash
	to
		stroke-dashoffset: 0

@keyframes an-width
	0%
		stroke-width: 50
	10%
		stroke-width: 20
	20%
		stroke-width: 80
	30%
		stroke-width: 50
	45%
		stroke-width: 10
	60%
		stroke-width: 60
	75%
		stroke-width: 80
	90%
		stroke-width: 10
	100%
		stroke-width: 50

@keyframes an-spin
	0%
		transform: rotate(0deg)

	100%
		transform: rotate(360deg)

@keyframes rotate
	0%
		transform: rotate(0deg) translate(0,0) rotate(0deg)
	50%
		transform: rotate(180deg) translate(-1rem,1rem) rotate(-180deg)
	100%
		transform: rotate(360deg) translate(0,0) rotate(-360deg)

// Social-News-Form
.social-news-form-enter-active
	transition: all 1s $bezier

.social-news-form-leave-active
	transition: all 1s $bezier

.step-up
	.social-news-form-enter
		transform: translateY(calc(var(--vh, 1vh) * -100))

	.social-news-form-leave-to
		transform: translateY(calc(var(--vh, 1vh) * 100))

.step-down
	.social-news-form-enter
		transform: translateY(calc(var(--vh, 1vh) * 100)) scale(.8, .8)
		opacity: 0

	.social-news-form-leave-to
		transform: translateY(calc(var(--vh, 1vh) * -100)) scale(1, 1)

// Social-Desc-List
.social-desc-enter-active
	transition: all 1s $bezier .5s

.social-desc-enter
	transform: translateY(50%)
	opacity: 0

.social-list-enter-active
	transition: all 1s $bezier .5s

.social-list-enter
	transform: translateY(-30%)
	opacity: 0

// Form

.in-form-enter-active
	transition: all .5s $bezier

.in-form-enter
	transform: translateX(-20%)
	opacity: 0
