html
  background: $blue
  font-size: 10px
  font-family: 'Gotham Pro'

*
  outline: none
  box-sizing: border-box
  backface-visibility: hidden

body
  margin: 0
  font-family: 'Gotham Pro'

img
  max-width: 100%

.container
  margin-left: auto
  margin-right: auto

.row
  display: flex
  flex-wrap: wrap

ul
  padding: 0
  margin: 0
  list-style: none

button
  border: none
  border-radius: 0
  outline: none

a
  text-decoration: none

@font-face
  font-family: 'Gotham Pro'
  src: url("/fonts/GothamPro.woff") format("woff")
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Gotham Pro'
  src: url("/fonts/GothamPro-Bold.woff") format("woff")
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Gotham Pro'
  src: url("/fonts/GothamPro-Medium.woff") format("woff")
  font-weight: 500
  font-style: normal
h1, h2, h3, h4, h5, h6
  margin: 0
h1
  font-weight: 900
  font-size: 6rem
  line-height: 120%
  letter-spacing: 0.05em
  text-transform: uppercase
  color: $white

h2
  font-weight: bold
  font-size: 5rem
  line-height: 100%
  letter-spacing: -0.01em
  text-transform: uppercase
  color: $white

h3
  font-weight: 900
  font-size: 3.6rem
  line-height: 90%
  letter-spacing: -0.01em
  color: $white

h4
  font-weight: 500
  font-size: 3rem
  line-height: 150%
  letter-spacing: 0.1em
  color: $white

p, li
  font-size: 1.2rem
  line-height: 1.1rem
  letter-spacing: 0.1em
  color: $white
  margin: 0

.home
  height: calc(var(--vh, 1vh) * 100)
  position: relative
  width: 100vw
  &.start-animation
    overflow: hidden

[type="checkbox"]
  display: none!important
  & + span
    min-width: 2rem
    width: 2rem
    height: 2rem
    border: 1px solid #FEEFE5
    box-sizing: border-box
    display: block
    cursor: pointer
    transition: .5s $bezier
    border-radius: 0

  &:checked + span
    background-color: #fff

[type="text"], [type="email"], [type="tel"], [type="number"], [type="password"], textarea
  padding: 0
  background: transparent
  border: none
  height: 5rem
  width: 100%
  padding-left: 1.6rem
  box-sizing: border-box
  border-bottom: 1px solid $white
  font-family: Gotham Pro
  font-size: 1.6rem
  line-height: 90%
  letter-spacing: -0.01em
  color: $white
  border-radius: 0
  margin-bottom: 3rem

  &::placeholder
    color: rgba(254, 239, 229, 0.5)

textarea
  min-height: 13rem
  min-width: 50%
  padding-top: 1.7rem

[class*="col-"]
  width: 100%

.col-1
  max-width: 100%

.col-2
  max-width: calc(50% - 1.2rem)

.col-3
  max-width: calc(75% - 1.2rem)

.col-4
  max-width: calc(25% - 1.2rem)

p
  line-height: 160%
  a
    color: inherit
    position: relative
    &::after
      position: absolute
      left: 0
      bottom: -0.3rem
      width: 100%
      background-image: url(/image/detted.svg)
      height: 1px
      content: ''

@media screen and ( min-height: 860px ) and (min-width: 1681px)
  html
    font-size: 9px

@media screen and (max-width: 1680px)
  html
    font-size: 8px

@media screen and (max-width: 1579px)
  html
    font-size: 7.3px

@media screen and (max-width: 1440px)
  html
    font-size: 7px

@media screen and (max-width: 1380px)
  html
    font-size: 6.5px

@media screen and (max-width: 1280px)
  html
    font-size: 6px

@media screen and (max-width: 1200px)
  html
    font-size: 5px

@media screen and (max-width: $medium)
  html
    font-size: 14px

  h1
    font-size: 4rem
    line-height: 120%

  h2
    font-size: 3rem
    line-height: 100%

  h3
    font-size: 2rem
    line-height: 90%

  h4
    font-size: 2rem
    line-height: 150%

  p
    font-size: 1rem
    line-height: 1rem

  [class*="col-"]
    margin-bottom: 2rem

  .col-2
    max-width: calc(50% - 1rem)

  .col-3
    max-width: calc(75% - 1rem)

  .col-4
    max-width: calc(25% - 1rem)

  [type="text"], [type="email"], [type="tel"], [type="number"], [type="password"], textarea
    font-size: 1.2rem
    line-height: 90%
    height: 3.4rem
    padding-left: 1rem

  // [class*="i-block-"]
  //   height: calc(var(--vh, 1vh) * 100)!important
  //   position: relative!important
@media screen and (max-width: 992px)
  html
    font-size: 12px

@media screen and (max-width: 880px)
  html
    font-size: 11px

@media screen and (max-width: 768px)
  html
    font-size: 10px

@media screen and (max-width: 767px)
  html
    font-size: 9px

@media screen and (max-width: 680px)
  html
    font-size: 8px

@media screen and (max-width: 520px)
  html
    font-size: 7px

@media screen and (max-width: 425px)
  html
    font-size: 10px

@media screen and (max-width: 410px)
  html
    font-size: 9px

@media screen and (max-width: 360px)
  html
    font-size: 8px
