@media screen and (max-width: $tablet)
  .i-block-one, .i-block-two
    z-index: 80
    width: 100vw
    height: 100vh
    position: relative
    background-color: $blue

  .home

    &::after
      width: 26rem
      left: -6.5rem
      top: 0rem
      background: #FF0022
      content: ''
      position: fixed
      height: 100%
      z-index: 1

    & > [class*="i-block-"]
      min-height: 89rem
      overflow: hidden

@media screen and (max-width: 425px)
  .home
    & > [class*="i-block-"]
      min-height: 60rem

    &::after
      left: auto
      right: 22rem
