.page
  padding-top: 13rem
  padding-bottom: 10rem
  .container
    max-width: 178rem
    padding: 0 3rem

  .row
    display: flex
    flex-wrap: wrap

  .sidebar
    max-width: 44rem
    padding-right: 4rem
    padding-left: 10rem
    width: 100%

  .content
    max-width: 84rem
    &.center
      margin-left: auto
      margin-right: auto

  .content-full
    max-width: 128rem
    width: 100%

  h1
    &.title-page
      font-size: 4rem
      line-height: 100%
      display: flex
      align-items: center
      margin-bottom: 10rem
      .i-nav-btn
        margin-right: 3rem

  h2
    font-size: 4rem
    line-height: 100%

  h3
    font-size: 3rem
    line-height: 150%

  h4
    font-size: 2.4rem
    line-height: 140%
    letter-spacing: -0.03em

  h5
    font-size: 1.8rem
    line-height: 140%
    color: $white

  p, li, td
    font-size: 1.8rem
    line-height: 140%
    letter-spacing: -0.03em
    color: $white
    strong
      font-size: 2.4rem

  ul:not([class])
    li
      font-size: 1.8rem
      line-height: 140%
      padding-left: 4rem
      position: relative
      letter-spacing: -0.03em
      &:before
        position: absolute
        left: 0
        top: 0
        margin-top: -.9rem
        content: ''
        background-image: url(/image/after.svg)
        width: 4rem
        height: 4rem
        background-size: cover
  a
    font-size: 1.8rem
    line-height: 140%
    color: $white
    text-decoration: underline
    &[href*="tel"],
    &[href*="mailto"]
      text-decoration: none

  blockquote
    margin: 0
    padding: 2rem
    max-width: 84rem
    border: 1px solid $white
    h4
      margin-bottom: 2rem
    p
      margin-bottom: 2rem
      &:last-child
        margin-bottom: 0

.contact-us
  .sidebar
    h4
      margin-top: 3rem
      &:first-child
        margin-top: 0

    a, p
      margin-top: 1rem
      display: block

  .i-form
    max-width: 100%
    [type="tel"]
      margin-bottom: 0

.step-list
  justify-content: space-between
  .step
    max-width: calc(33.333% - 2.67rem)
    width: 100%
    &-heading
      display: flex
      align-items: center
      justify-content: space-between
      height: 5rem
      margin-bottom: 5rem
      h3
        text-transform: uppercase
        white-space: nowrap
        margin-bottom: -0.4rem
      span
        width: 100%
        height: 2px
        background: $white
        margin-right: 1rem
        margin-left: 1.5rem
      img
        height: 2.2rem
        width: 1.2rem

.cart-list
  max-width: calc(100% - 45rem)
  .cart
    max-width: 33.333%
    padding-right: 4rem
    margin-bottom: 5rem
    h4
      margin-top: 2rem
      margin-bottom: 3rem

.marketing-tools
  .sidebar
    max-width: 40rem
    margin-left: 0

.why-trade
  .content-wrapper
    margin-bottom: 10rem
    &:last-child
      margin-bottom: 0
  .content
    h3
      margin-top: 5rem
      margin-bottom: 2rem
      &:first-child
        margin-top: 0
    p
      margin-bottom: 2rem

    h4
      margin-top: 3rem

    ul
      margin-top: 3rem

    li
      margin-bottom: 2rem
      &:last-child
        margin-bottom: 0
      b
        font-size: 2.4rem
        margin-right: 0.5rem

.careers
  p, h3, h4
    margin-bottom: 5rem
  li
    margin-bottom: 2rem
    b
      font-size: 2.4rem

.accoun-types
  .row
    p
      margin-bottom: 5rem
    h4
      margin-bottom: 3rem

.table-account-types
  margin-top: 5rem
  figure
    margin: 0

  table, tbody
    display: block
    width: 100%

  tr
    display: flex

    &:last-child
      td
        border-bottom: none

    &:first-child
      td
        border-top: 1px solid $white
        &:first-child
          border-top: none

  td
    min-height: 5rem
    width: 100%
    margin: 0 2rem
    display: flex
    align-items: center
    justify-content: center
    border-bottom: 1px solid $white
    padding: 0

    &:first-child
      font-weight: bold
      font-size: 1.5rem
      line-height: 1.4rem
      justify-content: flex-end
      letter-spacing: 0.1em
      text-transform: uppercase

  a
    width: 100%
    height: 5rem
    background: #FEEFE5
    font-weight: bold
    font-size: 1.5rem
    line-height: 1.4rem
    display: flex
    align-items: center
    justify-content: center
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $blue
    text-decoration: none
    margin-top: 4rem

.traiding-platforms
  .heading
    .left
      max-width: calc(100% - 44rem)
      h3, h4
        margin-bottom: 5rem
    .right
      width: 44rem
      padding-left: 4rem
      img
        max-width: 12rem
      .download
        margin-top: 3rem
        h4
          margin-bottom: 2rem
        &-list
          justify-content: space-between

        .item
          display: flex
          align-items: center
          justify-content: center
          flex-direction: column
          img
            max-width: 5rem
            margin-bottom: 2rem

.list-platforms
  .item-platforms
    justify-content: space-between
    margin-top: 19rem
    .left, .right
      max-width: calc(50% - 2rem)

    .left
      h3
        margin-bottom: 5rem
      h4
        margin-bottom: 5rem

      .download
        display: flex
        align-items: flex-start
        max-width: 53rem
        margin-top: 5rem
        img
          width: 5rem
          margin-right: 2rem
        p
          b
            font-size: 2.4rem

        .btn-white
          width: 26rem
          height: 5rem
          background: #FEEFE5
          font-weight: bold
          font-size: 1.5rem
          line-height: 1.4rem
          display: flex
          align-items: center
          justify-content: center
          letter-spacing: 0.1em
          text-transform: uppercase
          color: $blue
          text-decoration: none
          margin-top: 2rem

.i-table
  margin-top: 3rem
  &-title, &-header
    display: flex
    align-items: center
    justify-content: center
    border-top: 1px solid $white
    border-bottom: 1px solid $white
    height: 6rem
    margin-bottom: 1rem

  &-tabs
    display: flex
    justify-content: space-between
    margin-left: -2rem
    margin-right: -2rem
    margin-bottom: 1rem
    li
      width: 100%
      font-weight: 500
      margin: 0 2rem
      font-size: 2.4rem
      line-height: 140%
      display: flex
      align-items: center
      justify-content: center
      border-top: 1px solid $white
      border-bottom: 1px solid $white
      height: 5rem
      text-transform: uppercase
      cursor: pointer
      &.active
        color: $blue
        background-color: $white

  &-item
    figure
      margin: 0
    table, tbody
      display: block
      width: 100%
    tr
      display: flex
      margin-bottom: 1rem
      &:nth-child(2n + 1)
        background: #0B2752
    td
      width: 100%
      display: flex
      align-items: center
      justify-content: center

      height: 3rem

.deposits
  h3
    margin-top: 10rem
    margin-bottom: 5rem

  h4
    margin-bottom: 3rem

  p
    margin-bottom: 5rem

.about-us-faqs
  h4
    min-height: 6rem
    border-bottom: 1px solid $white
    border-top: 1px solid $white
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 1rem
    text-align: center

  blockquote
    border: none
    max-width: 100%
    margin-bottom: 1rem
    border-bottom: 1px solid $green
    border-top: 1px solid $green
    padding: 1.2rem 2rem
    position: relative
    &::after
      background-image: url(/image/faqs-after.svg)
      background-repeat: no-repeat
      width: 2.2rem
      height: 1.2rem
      background-size: contain
      content: ''
      position: absolute
      top: 1.4rem
      right: 2rem

    h5
      margin-bottom: 2rem
      &:last-child
        margin-bottom: 0

    li
      margin-bottom: 2.5rem

@media screen and ( max-width: 1024px )
  .page
    .sidebar
      width: 18.5rem
      padding-left: 0
      padding-right: 3rem

    .content, .content-full
      max-width: calc(100% - 18.5rem)

    h1
      &.title-page
        font-size: 2.5rem
        margin-bottom: 6rem

    h2
      font-size: 4rem
      line-height: 100%

    h3
      font-size: 2rem

    h4
      font-size: 1.8rem

    h5
      font-size: 1.2rem

    p, li, td
      font-size: 1.2rem
      strong
        font-size: 1.8rem

    ul:not([class])
      li
        font-size: 1.2rem
        line-height: 140%
        padding-left: 4rem
        &:before
          width: 3rem
          height: 3rem
          margin-top: -.7rem

    a
      font-size: 1.2rem

    [type="text"], [type="email"], [type="tel"], [type="number"], [type="password"], textarea
      margin-bottom: 2rem

    textarea
      height: 8.8rem

  .contact
    .tel input
      margin-bottom: 0

  .step-list
    .step
      max-width: calc(33.333% - 2rem)
    .step-heading
      margin-bottom: 3rem

  .corporate-account
    .i-form [class*="col-"]
      justify-content: flex-start

  .complaint-form
    .i-form
      margin-top: 8rem
pre
  color: #fff
@media screen and ( max-width: 1024px )
  .page
    padding-top: 8rem
    .container
      padding: 0 2rem
    .sidebar
      width: 18.5rem
      padding-left: 0
      padding-right: 3rem

    .content, .content-full
      max-width: calc(100% - 18.5rem)

    h1
      &.title-page
        margin-left: -1rem
        font-size: 1.8rem
        font-weight: 400
        margin-bottom: 4rem
        .i-nav-btn.prev
          padding: 1rem
          margin-right: 1rem
    h2
      font-size: 4rem
      line-height: 100%

    h3
      font-size: 2rem

    h4
      font-size: 1.8rem

    h5
      font-size: 1.2rem

    p, li, td
      font-size: 1.2rem
      strong
        font-size: 1.8rem

    ul:not([class])
      li
        font-size: 1.2rem
        line-height: 140%
        padding-left: 4rem
        &:before
          width: 3rem
          height: 3rem
          margin-top: -.7rem

    a
      font-size: 1.2rem

    [type="text"], [type="email"], [type="tel"], [type="number"], [type="password"], textarea
      margin-bottom: 2rem

    textarea
      height: 8.8rem

  .about-us-faqs
    h4
      padding: 2.5rem 0
