<template lang="pug">
  div
    transition(name="iheader")
      IHeader(v-if="step > 0 || !animation")
    Nuxt
    transition(name="ifooter")
      IFooter(v-if="step >= 3 || !animation")
</template>
<script>
import { mapState } from "vuex";
import { vueWindowSizeMixin } from "vue-window-size";

export default {
  methods: {
    resizeWindow() {
      if (this.windowWidth <= this.$store.state.breakpoints.tablet) {
        this.$store.dispatch("TOGGLE_ANIMATION", false);
        this.$store.dispatch("RESET_STEP", 1);
      } else {
        this.$store.dispatch("TOGGLE_ANIMATION", true);
        this.$store.dispatch("RESET_STEP", 1);
      }
      let vh = this.windowHeight * 0.01;
      document.documentElement.style.setProperty("--vh", `${vh}px`);
    },
  },
  watch: {
    windowWidth(newValue, oldValue) {
      this.resizeWindow();
    },
  },
  mounted() {
    this.resizeWindow();
  },
  mixins: [vueWindowSizeMixin],
  computed: {
    ...mapState({
      animation: (state) => state.animation,
      step: (state) => state.step,
    }),
  },
};
</script>
<style></style>
