<template lang="pug">
  .page.about
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | {{content.title_page}}

      .content-wrapper
        .row
          .sidebar(v-html="content.sidebar")
          .content
            IGroupIcon(:content="content.icon_text[0]")
            IGroupIcon(:content="content.icon_text[1]")
</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";
  import axios from "axios";  

  export default {
    async asyncData() {
      try {
        let content = await axios.get("https://investing24admin.herokuapp.com/about-us");
        return {
          content: content.data,
        };
      } catch (err) {
        console.log(err);
      }
    },
    data: () => ({
      content: Object,
      whois: {
        svg: "whois",
        title: "Trust and Transparency",
        content: "<p>Investing24.com is a premier investment firm offering the highest quality online forex and CFD trading services to a growing international client base.</p><p>Trusted and transparent, Investing24.com is fully EU licensed and regulated, providing a reliable, secure trading experience. </p><p>Our clients benefit from top- tier trading technology, competitive trading terms and a wide array of assets that can be traded via our easy to navigate platform.</p><p>In addition, Investing24.com is an STP broker meaning that clients enjoy market execution without experiencing any re-quotes or rejections.</p>"
      },
      mission: {
        svg: "mission",
        title: "Trust and Transparency",
        content: "<p>Investing24.com is a premier investment firm offering the highest quality online forex and CFD trading services to a growing international client base.</p><p>Trusted and transparent, Investing24.com is fully EU licensed and regulated, providing a reliable, secure trading experience. </p><p>Our clients benefit from top- tier trading technology, competitive trading terms and a wide array of assets that can be traded via our easy to navigate platform.</p><p>In addition, Investing24.com is an STP broker meaning that clients enjoy market execution without experiencing any re-quotes or rejections.</p>"
      }
    }),
    components: {
      INavBtn,
      IGroupIcon
    }
  }
</script>

<style lang="scss" scoped>

</style>