<template lang="pug">
  .page.accoun-types
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | ACCOUNT TYPES

      .content-wrapper
        .row
          .sidebar
            h4 Tailor Your Trading Experience

          .content
            p Trades.com offers a range of account types to meet a variety of needs.  Corporations and individuals can choose the perfect package to suit their requirements, taking advantage of highly competitive, industry leading trading conditions including flexible leverage and tight spreads. Trades.com offers market execution meaning clients get the best available price on each trade, without rejections or requotes. Clients can trade using the MetaTrader 4 platform and can also trade via mobile and telephone.
            h4 New to the markets?
            p 
              a(href="") Open a demo account
              |  to practice your Forex and CFD<br>trading strategies risk-free before diving in with a live account.

        .table-account-types
          figure.table
            table
              tbody
                tr
                  td  
                  td 
                    h4 Bronze account
                  td 
                    h4 Silver account
                  td 
                    h4 Golden account
                tr
                  td Min. Deposit
                  td 
                    h3 $50
                  td 
                    h3 $10.000
                  td 
                    h3 $25.000
                tr
                  td Leverage
                  td Based on client categorization status
                  td Based on client categorization status
                  td Based on client categorization status
                tr
                  td Spreads
                  td From 2.3 pips
                  td From 2.3 pips
                  td From 0 pips
                tr
                  td Max Amount of Orders
                  td 200
                  td 200
                  td 200
                tr
                  td Swap type
                  td Points
                  td Points
                  td Points
                tr
                  td Margin call
                  td 70%
                  td 70%
                  td 70%
                tr
                  td Stop Out
                  td 50%
                  td 50%
                  td 50%
                tr
                  td Account Currency
                  td EUR, USD, GBP, PLN, CZK
                  td EUR, USD, GBP, PLN, CZK
                  td EUR, USD, GBP, PLN, CZK
                tr
                  td Commissions
                  td NO
                  td NO
                  td 1.2 PIPS PER CLOSED LOT
                tr
                  td 24 Hour Support
                  td NO
                  td YES
                  td YES
                tr
                  td  
                  td
                    a(href='/bronse') CREATE BRONZE ACCOUNT
                  td
                    a(href='/silver') CREATE SILVER ACCOUNT
                  td
                    a(href='/silver') CREATE SILVER ACCOUNT


</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import ISvg from "@/components/ISvg/ISvg";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";
  import IForm from "@/components/IForm/IForm";

  export default {
    components: {
      INavBtn,
      IGroupIcon,
      IForm,
      ISvg
    },
    data: () => ({
      partner: {
        svg: "partner",
        content: "<p>Fill in the Form and Join our<br> Partnership Program Today!</p>"
      },
      formData: [
        {
          "row": {
            "col-1": {
              col: 3,
              name: {
                label: "*Full name",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              email: {
                label: "*Email address",
                name: 'input',
                type: 'email',
                placeholder: '',
              },
            },
            "col-2": {
              col: 3,
              adress: {
                label: "*Address",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              phone: {
                label: "*Phone number",
                name: 'input',
                type: 'tel',
                placeholder: '',
              },
            },
            "col-3": {
              col: 3,
              adress: {
                label: "*Account number",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              complaint: {
                label: "*Description of your complaint:",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            },
          }
        },
        {
          "row": {
            "col-1": {
              col: 3,
              complaint: {
                label: "*Summary of your complaint",
                name: 'input',
                type: 'text',
                placeholder: 'General customer service',
              },
              date: {
                label: "Date",
                name: 'input',
                type: 'text',
                placeholder: 'dd/mm/yy',
              },
            },
            "col-2": {
              col: 6,
              complaint: {
                label: "Have allready communicated with The Company in relation this problem",
                name: 'input',
                type: 'text',
                placeholder: 'Yes',
              },
              date: {
                label: "Include name of the person that you have comunicated with",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            }
          }
        },
        {
          "row": {
            "col-1": {
              col: 3
            },
            "col-2": {
              col: 3,
              file: {
                label: 'Supportive docs',
                name: 'input',
                type: 'file',
              },
            },
            "col-3": {
              col: 3,
              submit: {
                name: 'button',
                type: 'submit',
                value: "CREATE AN ACCOUNT",
              },
            }
          }
        },
      ],
    }),
  }
</script>

<style lang="scss" scoped>

</style>