<template lang="pug">
  .page.about-us-faqs
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | ACCOUNTS FAQS

      .content-wrapper(v-html="content.content")

         
</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";
  import axios from "axios";  

  export default {
    async asyncData() {
    try {
      let content = await axios.get("https://investing24admin.herokuapp.com/accounts-faqs");
      return {
        content: content.data,
      };
    } catch (err) {
      console.log(err);
    }
  },
    data: () => ({
      content: Object
    }),
    components: {
      INavBtn,
      IGroupIcon
    }
  }
</script>

<style lang="scss" scoped>

</style>