<template lang="pug">
  .page.careers
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | Trades.com Licensing and Regulation

      .content-wrapper
        .row
          .sidebar
            h4 Join the Team! 
            p Send your CV <br>with a cover letter to <br> 
            a(href="mailto:careers@Trades.com") careers@Trades.com
          .content
            p Interested in joining a dynamic work environment and becoming a member of a friendly, motivated and highly skilled team?
              br
              br
              | Want to work in a company that values your contribution and rewards your achievements? Yes? Then you’ve come to the right place.
            p At Trades.com we believe that our success is due to the great people that work here, so it’s essential that we find the right fit when we hire new additions to the team. If you are hard-working, an independent thinker and always up for a new challenge then you are exactly who we want.
            p Trades.com’s diverse workplace and multicultural team brings together a world of ideas and fresh perspectives.  Our employees benefit from great working conditions in a fun, fast-paced environment that offers opportunities to develop and advance your career with clear and transparent paths to promotion.
            h3 Recruitment Privacy Notice:
            h4 Our purpose  in retaining your data
            p Trades.com stores your personal data solely for the purpose of contacting you and evaluating your suitability for recruitment to the company. Your data is held in strict compliance with the General Data Protection Regulation (GDPR).
              br
              br
              | No information will be collected that is not necessary for the evaluation of your candidature and we do not use any form of automatic profiling on your personal data.
            Our data retention policy

            h4 Data from unsuccessful applicants will be stored within the recruitment system for a period
            p of 2 years (“Data Retention Period”), after which it will be deleted and/or destroyed. 
              | The personal data of successful applicants, who become company employees, will be held in accordance with our internal retention policy.
            h4 Your rights with regard to your personal data
            p Under the GDPR, you have the right to:

            ul
              li
                b access your own data
              li
                b have data erased 
                | (also referred to as the right to be forgotten)
              li
                b rectify data
              li
                b restrict processing
              li
                b object to the use of your data
              li
                b data portability
              li
                b automated decision making and profiling

            p If you wish to file a complaint about the way in which your personal data has been handled, you can contact us at 
              a(href="mailto:gdpr@Trades.com") gdpr@Trades.com 
              | and an investigation will be opened.
</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import ISvg from "@/components/ISvg/ISvg";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";
  import IForm from "@/components/IForm/IForm";

  export default {
    components: {
      INavBtn,
      IGroupIcon,
      IForm,
      ISvg
    },
    data: () => ({
      partner: {
        svg: "partner",
        content: "<p>Fill in the Form and Join our<br> Partnership Program Today!</p>"
      },
      formData: [
        {
          "row": {
            "col-1": {
              col: 3,
              name: {
                label: "*Full name",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              email: {
                label: "*Email address",
                name: 'input',
                type: 'email',
                placeholder: '',
              },
            },
            "col-2": {
              col: 3,
              adress: {
                label: "*Address",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              phone: {
                label: "*Phone number",
                name: 'input',
                type: 'tel',
                placeholder: '',
              },
            },
            "col-3": {
              col: 3,
              adress: {
                label: "*Account number",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              complaint: {
                label: "*Description of your complaint:",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            },
          }
        },
        {
          "row": {
            "col-1": {
              col: 3,
              complaint: {
                label: "*Summary of your complaint",
                name: 'input',
                type: 'text',
                placeholder: 'General customer service',
              },
              date: {
                label: "Date",
                name: 'input',
                type: 'text',
                placeholder: 'dd/mm/yy',
              },
            },
            "col-2": {
              col: 6,
              complaint: {
                label: "Have allready communicated with The Company in relation this problem",
                name: 'input',
                type: 'text',
                placeholder: 'Yes',
              },
              date: {
                label: "Include name of the person that you have comunicated with",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            }
          }
        },
        {
          "row": {
            "col-1": {
              col: 3
            },
            "col-2": {
              col: 3,
              file: {
                label: 'Supportive docs',
                name: 'input',
                type: 'file',
              },
            },
            "col-3": {
              col: 3,
              submit: {
                name: 'button',
                type: 'submit',
                value: "CREATE AN ACCOUNT",
              },
            }
          }
        },
      ],
    }),
  }
</script>

<style lang="scss" scoped>

</style>