<template lang="pug">
  .page.company-news
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | COMPANY NEWS

      .content-wrapper
        IBlockNews
         
</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import IBlockNews from "@/components/IBlockNews/IBlockNews";

  export default {
    async asyncData() {
      try {
        let content = await axios.get("https://investing24admin.herokuapp.com/about-us-faqs");
        return {
          content: content.data,
        };
      } catch (err) {
        console.log(err);
      }
    },
    data: () => ({
      content: Object
    }),
    components: {
      INavBtn,
      IBlockNews
    }
  }
</script>

<style lang="scss" scoped>

</style>