<template lang="pug">
  .page.complaint-form
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | Complaint Form

      .content-wrapper
        .row
          .sidebar
         
          .content-full
            IGroupIcon(:content="form")
          IForm(:form="formData")
</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";
  import IForm from "@/components/IForm/IForm";

  export default {
    components: {
      INavBtn,
      IGroupIcon,
      IForm
    },
    data: () => ({
      form: {
        svg: "form",
        content: "<p>For your convenience, we have created a comprehensive FAQ section in the website to answer common questions about Trades.com and the products and services we provide. You can also leave us a message below and within 24 working hours a member of our team will respond to your query.</p>"
      },
      formData: [
        {
          "row": {
            "col-1": {
              col: 3,
              name: {
                label: "*Full name",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              email: {
                label: "*Email address",
                name: 'input',
                type: 'email',
                placeholder: '',
              },
            },
            "col-2": {
              col: 3,
              adress: {
                label: "*Address",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              phone: {
                label: "*Phone number",
                name: 'input',
                type: 'tel',
                placeholder: '',
              },
            },
            "col-3": {
              col: 3,
              adress: {
                label: "*Account number",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              complaint: {
                label: "*Description of your complaint:",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            },
          }
        },
        {
          "row": {
            "col-1": {
              col: 3,
              complaint: {
                label: "*Summary of your complaint",
                name: 'input',
                type: 'text',
                placeholder: 'General customer service',
              },
              date: {
                label: "Date",
                name: 'input',
                type: 'text',
                placeholder: 'dd/mm/yy',
              },
            },
            "col-2": {
              col: 6,
              complaint: {
                label: "Have allready communicated with The Company in relation this problem",
                name: 'input',
                type: 'text',
                placeholder: 'Yes',
              },
              date: {
                label: "Include name of the person that you have comunicated with",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            }
          }
        },
        {
          "row": {
            "col-1": {
              col: 3
            },
            "col-2": {
              col: 3,
              file: {
                label: 'Supportive docs',
                name: 'input',
                type: 'file',
              },
            },
            "col-3": {
              col: 3,
              submit: {
                name: 'button',
                type: 'submit',
                value: "CREATE AN ACCOUNT",
              },
            }
          }
        },
      ],
    }),
  }
</script>

<style lang="scss" scoped>

</style>