<template lang="pug">
  .page
    h1.title-page Trades.com Licensing and Regulation
    h2 Trades.com Licensing and Regulation
    h3 Trades.com Licensing and Regulation
    h4 Trades.com Licensing and Regulation
    h5 Trades.com Licensing and Regulation
    p Trades.com Licensing and Regulation
    p 
      b Trades.com Licensing and Regulation
    ul
      li Trades.com Licensing and Regulation
      li Trades.com Licensing and Regulation
      li Trades.com Licensing and Regulation
    a(href="") Trades.com Licensing and Regulation

    .notice
      h4 Important Notice:
      p 
        b 1.
        | Swaps are calculated as follows:
      p
        b Swap points X Point value X Lot size<br>
        b 2.
        | On Wednesdays, triple swaps apply
      button text
</template> 

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>

</style>