<template lang="pug">
  .page.contact-us
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | CONTACT US

      .content-wrapper
        .row
          .sidebar(v-html="content.sidebar")
          
          .content
            IGroupIcon(:content="content.icon_text[0]")
            IGroupIcon(:content="content.icon_text[1]")
            IForm(:form="form")
</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";
  import IForm from "@/components/IForm/IForm";
  import axios from "axios";  

  export default {
     async asyncData() {
      try {
        let content = await axios.get("https://investing24admin.herokuapp.com/contact-us");
        return {
          content: content.data,
        };
      } catch (err) {
        console.log(err);
      }
    },
    components: {
      INavBtn,
      IGroupIcon,
      IForm
    },
    data: () => ({
      content: Object,
      form: [
        {
          "row": {
            "col-1": {
              col: 2,
              name: {
                name: 'input',
                type: 'text',
                placeholder: 'Name',
              },
              email: {
                name: 'input',
                type: 'email',
                placeholder: 'E-mail',
              },
              phone: {
                name: 'input',
                type: 'tel',
                placeholder: 'Phone',
              },
            },
            "col-2": {
              col: 2,
              message: {
                name: 'textarea',
                type: 'message',
                placeholder: 'Question',
              },
              submit: {
                name: 'button',
                type: 'submit',
                value: "CREATE AN ACCOUNT",
              },
            }
          }
        },
      ],
    }),
  }
</script>

<style lang="scss" scoped>

</style>