<template lang="pug">
  .page.corporate-account
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | CORPORATE ACCOUNTS

      .content-wrapper
        .row
          .sidebar
            h3 Open a Corporate Account

          .content
            IGroupIcon(:content="corporate")
            IForm(:form="form")
</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";
  import IForm from "@/components/IForm/IForm";

  export default {
    components: {
      INavBtn,
      IGroupIcon,
      IForm
    },
    data: () => ({
      corporate: {
        svg: "corporate",
        content: "<p>Registered or legal corporations can open an Trades.com corporate account and trade the global Forex and CFD markets.</p><p>When registering, simply check the “Register as a Company” box and a member of the Trades.com support team will be in touch within 24 hours to provide you with all the relevant data for completing the verification process for your company.</p>"
      },
      form: [
        {
          "row": {
            "col-1": {
              col: 2,
              first_name: {
                name: 'input',
                type: 'text',
                placeholder: 'First name',
                col: '2'
              },
              username: {
                name: 'input',
                type: 'text',
                placeholder: 'Username',
                col: '2'
              },
              password: {
                name: 'input',
                type: 'password',
                placeholder: 'Password',
                col: '2'
              },
              policy: {
                col: '2'
              },
            },
            "col-2": {
              col: 2,
              last_name: {
                name: 'input',
                type: 'text',
                placeholder: 'Last name',
                col: '2'
              },
              email: {
                name: 'input',
                type: 'email',
                placeholder: 'E-mail',
                col: '2'
              },
              phone: {
                name: 'input',
                type: 'tel',
                placeholder: 'Phone',
                col: '2'
              },
              submit: {
                name: 'button',
                type: 'submit',
                value: "CREATE AN ACCOUNT",
                col: '2'
              },
            }
          }
        },
      ],
    }),
  }
</script>

<style lang="scss" scoped>

</style>