<template lang="pug">
  .page.deposits
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | MARKET HOURS

      .content-wrapper
        .content.center
          h4 Fund Your Account Securely
          p
            | To safeguard all communications with clients, Trades.com utilizes sophisticated SSL network protocols. The integrity of client accounts is guaranteed by means of bank-grade security that ensure data privacy and the safety of all transactions.
          h4 Multiple Payment Methods
          p
            | Trades.com clients can deposit or withdraw funds simply and smoothly, at any time, choosing from a broad selection of online payment methods, such as credit card deposits and wire transfers.
          h3
            strong Deposits
          p
            strong The Deposit Process
            br
            | Depositing funds at Trades.com is quick and simple. You just log in to the secure client area, click on the Funds tab and select Deposit Funds. Then choose a funding method and provide the necessary payment details.
          p
            strong Deposit Time Frames
            br
            | The waiting period until the funds you have deposited appear in your account is determined by the payment option you have chosen. The process is virtually instant for credit card deposits and e-wallet payments but bank transfers can take up to five working days.
          h4 Deposit Terms
          p
            strong 1. 
            | Trades.com will not accept payments made by a third party, meaning you will be required to deposit funds with a credit card issued in your name, or make a transfer from a bank account that belongs to you, or from an e-wallet opened in your name.
          p
            strong 2. 
            | If the currency you are using to deposit funds is different from the base currency of your trading account, then the sum being deposited will be converted into the base currency, using the prevailing Trades.com exchange rate.
          p
            strong 3. 
            | Trades.com will not accept cash deposits, as they are associated with a high risk of money laundering. Deposits may only be made using one of the payment methods presented on the company website and in accordance with the instructions provided.
          h3
            strong Withdrawals
          p
            strong The Withdrawal Process
            br
            | Withdrawing funds at Trades.com is quick and simple. You just log in to the secure client area, click on the Funds tab and select Withdraw Funds. Then choose the sum you wish to withdraw.
          p
            strong Withdrawal Time Frames
            br
            | Once your withdrawal request has been received, depending on the hour at which your request was made, payment processing will begin that same day or the following working day.
            br
            br
            | Please note: The time required for your funds to be credited to your account may vary, depending on your chosen method of payment.
          h4 Withdrawal Terms
          p
            strong 1. 
            | Trades.com only allows new clients to make a withdrawal once they have provided verification documents and have received confirmation that their trading account has been verified. Any new client wishing to withdraw funds, prior to making their first transaction, may send a request for a refund to support@Trades.com
          p
            strong 3. 
            | So long as their verification documentation is all up to date, existing Trades.com clients can withdraw funds at any time. Any expired documents must be replaced with an updated copy.
          p
            strong 4. 
            | Funds may only be withdrawn to the e-wallet, credit card or bank account that was used to transfer the original deposit.
          p
            strong 5. 
            | If a client has open positions at the time of making a withdrawal request, Trades.com will go ahead with processing the request so long as the withdrawal does not lower the margin to below 100%
          p
            strong 6. 
            | All refunds and withdrawals will be made in the currency of the initial deposit. If the account currency and the original deposit currency are different, the sum will be converted into the account currency, using the prevailing Trades.com exchange rate.
          blockquote
            h4 Important Notice:
            p
              | While some payment providers may charge a transfer fee, Trades.com does not charge
              br
              | any commissions whatsoever on deposits or withdrawals.
            p
              | Please view the table below to see the commissions charged by the various payment
              br
              | service providers:

</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import ISvg from "@/components/ISvg/ISvg";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";
  import IForm from "@/components/IForm/IForm";

  export default {
    components: {
      INavBtn,
      IGroupIcon,
      IForm,
      ISvg
    },
    data: () => ({
      partner: {
        svg: "partner",
        content: "<p>Fill in the Form and Join our<br> Partnership Program Today!</p>"
      },
      formData: [
        {
          "row": {
            "col-1": {
              col: 3,
              name: {
                label: "*Full name",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              email: {
                label: "*Email address",
                name: 'input',
                type: 'email',
                placeholder: '',
              },
            },
            "col-2": {
              col: 3,
              adress: {
                label: "*Address",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              phone: {
                label: "*Phone number",
                name: 'input',
                type: 'tel',
                placeholder: '',
              },
            },
            "col-3": {
              col: 3,
              adress: {
                label: "*Account number",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              complaint: {
                label: "*Description of your complaint:",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            },
          }
        },
        {
          "row": {
            "col-1": {
              col: 3,
              complaint: {
                label: "*Summary of your complaint",
                name: 'input',
                type: 'text',
                placeholder: 'General customer service',
              },
              date: {
                label: "Date",
                name: 'input',
                type: 'text',
                placeholder: 'dd/mm/yy',
              },
            },
            "col-2": {
              col: 6,
              complaint: {
                label: "Have allready communicated with The Company in relation this problem",
                name: 'input',
                type: 'text',
                placeholder: 'Yes',
              },
              date: {
                label: "Include name of the person that you have comunicated with",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            }
          }
        },
        {
          "row": {
            "col-1": {
              col: 3
            },
            "col-2": {
              col: 3,
              file: {
                label: 'Supportive docs',
                name: 'input',
                type: 'file',
              },
            },
            "col-3": {
              col: 3,
              submit: {
                name: 'button',
                type: 'submit',
                value: "CREATE AN ACCOUNT",
              },
            }
          }
        },
      ],
    }),
  }
</script>

<style lang="scss" scoped>

</style>