<template lang="pug">
div
  .home(
    :class="[cursor, classBody()]",
    v-touch:swipe.top="onWheel",
    v-touch:swipe.bottom="onWheel"
  )
  

    INavigation(@click="nextStep()")

    transition(name="inavbtn-top")
      INavBtn(
        type="top",
        @click="prevStep()",
        v-show="step > 0 && windowWidth > breakpoints.medium"
      )

    transition(name="inavbtn-bot")
      INavBtn(type="bot", @click="nextStep()", v-if="step > 0 || !animation")

    .i-block-one
      transition(name="ibar")
        IBar(v-if="step === 1 || !animation")

      transition(name="ilogo")
        ILogo(:list="logoList", v-if="(step > 0 && step < 3) || !animation")

      transition(name="ibg-front")
        IBgFront(v-show="step === 1 || !animation", :animate="step > 0")

      transition(name="ibg-back")
        IBgBack(v-if="step === 1 || !animation")

      transition(name="idesc")
        IDesc(v-show="(step === 1) || !animation")

    .i-block-two
      transition(name="ibg")
        IBg(
          v-show="step > 0 || !animation",
          :class="[{ green: step === 2 }, { red: step > 2 }]",
          :animate="step > 0 && step < 3"
        ) 
      transition(name="ibar-line")
        IBar(
          line,
          :class="{ transform: step > 2 }",
          v-if="step > 1 || !animation"
        )

      transition(name="ilogo")
        ILogo(
          :list="logoList",
          v-if="(step > 0 && step < 3 && windowWidth > breakpoints.medium) || !animation"
        )

    transition(name="platforms")
      IBlockPlatforms(:list="listPlatforms", v-if="step === 3 || !animation")

    transition(name="social-news-form")
      IBlockSocial(:list="listSocial", v-if="step === 4 || !animation")

    transition(name="social-news-form")
      IBlockNews(v-if="step === 5 || !animation")

    transition(name="social-news-form")
      IBlockForm(v-if="step >= 6 || !animation")



    //- ICursor
</template>

<script>
import ILogo from "@/components/ILogo/ILogo";

import { mapState } from "vuex";
import { vueWindowSizeMixin } from "vue-window-size";
import { Fragment } from "vue-fragment";

export default {
  components: {
    ILogo,
    Fragment,
  },
  data() {
    return {
      logoList: [
        "tesla",
        "mercedes",
        "amd",
        "google",
        "alibaba",
        "amazon",
        "netflix",
        "nvidia",
        "apple",
        "facebook",
        "snapchat",
        "western",
      ],
      listPlatforms: ["meta", "web", "tablet", "mobile"],
      listSocial: ["Trust", "Security", "Privacy"],
      direction: "down",
    };
  },
  mixins: [vueWindowSizeMixin],
  methods: {
    onWheel(event) {
      if (this.windowWidth <= this.breakpoints.tablet) return false;
      console.log('123')
      let direction;
      if (event.deltaY) {
        direction = event.deltaY;
      } else {
        if (event === "top") {
          direction = 1;
        } else if (event === "bottom") {
          direction = 0;
        }
      }
      this.removeOnWheel();
      this.pauseOnWheel();
      let self = this;
      if (direction > 0) {
        self.$store.dispatch("UP_STEP");
      } else {
        self.$store.dispatch("DOWN_STEP");
      }
    },
    pauseOnWheel() {
      setTimeout(() => {
        this.addOnWheel();
      }, 2000);
    },
    addOnWheel() {
      if (window.addEventListener) {
        if ("onwheel" in document) {
          window.addEventListener("wheel", this.onWheel, {
            capture: false,
            passive: true,
          });
        } else if ("onmousewheel" in document) {
          window.addEventListener("mousewheel", this.onWheel);
        } else {
          window.addEventListener("MozMousePixelScroll", this.onWheel);
        }
      } else {
        window.attachEvent("onmousewheel", this.onWheel);
      }
    },
    removeOnWheel() {
      window.removeEventListener("wheel", this.onWheel);
      window.removeEventListener("mousewheel", this.onWheel);
      window.removeEventListener("MozMousePixelScroll", this.onWheel);
      window.removeEventListener("onmousewheel", this.onWheel);
    },
    nextStep() {
      this.$store.dispatch("UP_STEP");
    },
    prevStep() {
      this.$store.dispatch("DOWN_STEP");
    },
    classBody() {
      if (this.animation) {
        return `step-${this.step} step-${this.direction} start-animation`;
      } else {
        return ``;
      }
    },
  },
  destroyed() {
    this.removeOnWheel();
  },
  watch: {
    step(newValue, oldValue) {
      if (newValue < oldValue) {
        this.direction = "up";
      } else {
        this.direction = "down";
      }
    },
    animation(newValue, oldValue) {
      this.classBody();
      if (newValue) {
        this.addOnWheel();
      } else {
        this.removeOnWheel();
      }
    },
  },
  mounted() {
    if (this.windowWidth > this.breakpoints.tablet) this.addOnWheel();
  },
  computed: {
    ...mapState({
      animation: (state) => state.animation,
      step: (state) => state.step,
      cursor: (state) => state.cursor,
      breakpoints: (state) => state.breakpoints,
    }),
  },
};
</script>

<style lang="sass"></style>
