<template lang="pug">
  .page.islamic-account
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | ISLAMIC ACCOUNTS

      .content-wrapper
        .row
          .sidebar
            h3 Open a Swap Free Islamic Account

          .content
            IGroupIcon(:content="islamic")
</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";
  import IForm from "@/components/IForm/IForm";

  export default {
    components: {
      INavBtn,
      IGroupIcon,
      IForm
    },
    data: () => ({
      islamic: {
        svg: "islamic",
        content: "<p>Benefit from swap free forex and CFD trading with an Trades.com Islamic account. Trade in complete adherence to Sharia Law, without being charged overnight fees.</p><p>Swap-free trading is only available to clients of the Muslim faith and should only be requested on the basis of religious conviction.</p><p>To open your Islamic account, simply open a live account and submit your request form to support@Trades.com.</p>",
        list: [
          "Islamic Account Request Form",
          "Islamic Account T&C"
        ]
      },
      form: [
        {
          "row": {
            "col-1": {
              col: 2,
              first_name: {
                name: 'input',
                type: 'text',
                placeholder: 'First name',
                col: '2'
              },
              username: {
                name: 'input',
                type: 'text',
                placeholder: 'Username',
                col: '2'
              },
              password: {
                name: 'input',
                type: 'password',
                placeholder: 'Password',
                col: '2'
              },
              policy: {
                col: '2'
              },
            },
            "col-2": {
              col: 2,
              last_name: {
                name: 'input',
                type: 'text',
                placeholder: 'Last name',
                col: '2'
              },
              email: {
                name: 'input',
                type: 'email',
                placeholder: 'E-mail',
                col: '2'
              },
              phone: {
                name: 'input',
                type: 'tel',
                placeholder: 'Phone',
                col: '2'
              },
              submit: {
                name: 'button',
                type: 'submit',
                value: "CREATE AN ACCOUNT",
                col: '2'
              },
            }
          }
        },
      ],
    }),
  }
</script>

<style lang="scss" scoped>

</style>