<template lang="pug">
  .page.legal-documents
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | LEGAL DOCUMENTS

      .content-wrapper
      
</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";

  export default {
    components: {
      INavBtn,
      IGroupIcon
    },
    data: () => ({

    }),
  }
</script>

<style lang="scss" scoped>

</style>