<template lang="pug">
  .page.licensing
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | Trades.com Licensing and Regulation

      .content-wrapper
        .row
          .sidebar
            h4 Trades.com is regulated by the Cyprus Securities and Exchange Commission (CySEC), under license number 182/12, and adheres to the Markets in Financial Instruments Directive (MiFID), within the  Investment Services and Activities and Regulated Markets Law of 2007 (Law 144(I)/2007). In addition, Investing24.com is authorized to offer its services throughout the European Economic Area (EEA), holding a cross-border CySEC License.
          .content
            h3 CySEC
            p The Republic of Cyprus’ financial regulatory body is called the Cyprus Securities and Exchange Commission, for short, CySEC. Cyprus has been a member of the European Union since 2004 and therefore, CySEC is included under Europe’s MiFID regulation, allowing Cypriot firms to provide their financial products and services across the EEA. 
            p CySEC’s main function is oversight and control over the Cyprus Stock Exchange and the licensed investment firms providing their clients with financial and ancillary services. 
            p Cypriot-based brokers, brokerage firms and investment companies are all granted their operational licenses by CySEC. 
            p Please visit the CySEC site, for additional information.

            h3 MiFID
            p The Markets in Financial Instruments Directive 2004/39/EC (MiFID), the EU law that on November 1st 2007 replaced the Investment Services Directive, introduced harmonized regulation for investment services across the 31 member states of the EEA.
            p The Directive’s primary goals are the fostering of competition as well as the enhanced protection of investment service consumers across the EEA.  
            p MiFID’s is specifically focused on protecting the consumer’s best interests ensuring that companies operate professionally, in a fair and just fashion.
            p On the 3rd of January 2018, a second directive on markets in financial instruments was introduced, MIFID II - Directive 2014-65-EC.

            h4 Trades.com is licensed to deliver online financial services in countries across the EEA, including: 

            ul
              li 
                b France
                | – ACP (Autorite de Controle Prudentiel)
              li 
                b Germany
                | – BaFin (Bundesanstalt für Finanzdienstleistungsaufsicht)
              li 
                b Netherlands
                | – AFM (Autoriteit Financiële Markten)
              li 
                b Norway
                | – FINANSTILSYNET (Financial Supervisory Authority of Norway)
              li 
                b Poland
                | - KNF (Komisja Nadzoru Finansowego)
              li 
                b Spain
                | – CNMV (The Comisión Nacional del Mercado de Valores)
              li 
                b United Kingdom
                | - FCA (Financial Conduct Authority)

</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import ISvg from "@/components/ISvg/ISvg";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";
  import IForm from "@/components/IForm/IForm";

  export default {
    components: {
      INavBtn,
      IGroupIcon,
      IForm,
      ISvg
    },
    data: () => ({
      partner: {
        svg: "partner",
        content: "<p>Fill in the Form and Join our<br> Partnership Program Today!</p>"
      },
      formData: [
        {
          "row": {
            "col-1": {
              col: 3,
              name: {
                label: "*Full name",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              email: {
                label: "*Email address",
                name: 'input',
                type: 'email',
                placeholder: '',
              },
            },
            "col-2": {
              col: 3,
              adress: {
                label: "*Address",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              phone: {
                label: "*Phone number",
                name: 'input',
                type: 'tel',
                placeholder: '',
              },
            },
            "col-3": {
              col: 3,
              adress: {
                label: "*Account number",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              complaint: {
                label: "*Description of your complaint:",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            },
          }
        },
        {
          "row": {
            "col-1": {
              col: 3,
              complaint: {
                label: "*Summary of your complaint",
                name: 'input',
                type: 'text',
                placeholder: 'General customer service',
              },
              date: {
                label: "Date",
                name: 'input',
                type: 'text',
                placeholder: 'dd/mm/yy',
              },
            },
            "col-2": {
              col: 6,
              complaint: {
                label: "Have allready communicated with The Company in relation this problem",
                name: 'input',
                type: 'text',
                placeholder: 'Yes',
              },
              date: {
                label: "Include name of the person that you have comunicated with",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            }
          }
        },
        {
          "row": {
            "col-1": {
              col: 3
            },
            "col-2": {
              col: 3,
              file: {
                label: 'Supportive docs',
                name: 'input',
                type: 'file',
              },
            },
            "col-3": {
              col: 3,
              submit: {
                name: 'button',
                type: 'submit',
                value: "CREATE AN ACCOUNT",
              },
            }
          }
        },
      ],
    }),
  }
</script>

<style lang="scss" scoped>

</style>