<template lang="pug">
  .page.live-account
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | OPEN LIVE ACCOUNT

      .content-wrapper
        .row
          .sidebar
            h3 Open a Live Account: Register in 3 Simple Steps

          .content-full
            .step-list.row
              .step
                .step-heading
                  h3 step 1
                  span
                  img(src="/image/step.svg", alt="")
                p Fill in the brief form below and wait for a text/email with your PIN
              .step
                .step-heading
                  h3 step 2
                  span
                  img(src="/image/step.svg", alt="")
                p Compete your registration process<br> from the safety of the Secure Client Area 
              .step
                .step-heading
                  h3 step 3
                  span
                  img(src="/image/step.svg", alt="")
                p Log in, deposit funds and begin trading!
</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";

  export default {
    components: {
      INavBtn,
      IGroupIcon
    },
    data: () => ({
      trust_transperancy: {
        svg: "trust-transperancy",
        title: "Trust and Transparency",
        content: "<p>CySEC licensed and regulated in full compliance with MiFID, Investing24.com guarantees a secure, trustworthy trading experience. Client accounts are protected against fraud and strict safety protocols are implemented, including the separation of client and company accounts, ongoing monitoring and an insurance fund that serves as collateral in case of emergency.</p>"
      },
      guaranty: {
        svg: "guaranty",
        title: "A Guarantee of Quality",
        content: "<p>The Investing24.com team leverages its years of financial industry experience to deliver exceptionally high quality trading products and services. Advanced trading technology enables us to provide a powerful, stable and reliable platform that offers unmatched speed and efficiency. </p>"
      },
      excellent: {
        svg: "excellent",
        title: "Excellent Trading Terms",
        content: "<p>Investing24.com is setting the bar higher with generous trading conditions and a world of choices to suit the needs of every kind of trader. Our clients Investing24.com’sbenefit from a wide selection of account types, a packed trading tool kit and flexible leverage on a vast array of global assets.</p><h4>Trades.com trading terms include the following benefits:</h4><ul><li>Hedging scalping and news trading strategies are all allowed</li><li>Real time market execution safeguards against rejections and requotes and ensures all quotes are  executed for the best possible price</li><li>Clients are protected from a negative account balance</li><li>Versatile leverage is offered in accordance with client knowledge and prior market experience*</li></ul><p>*Leverage can reach up to 1:500, depending on the client’s market knowledge of speculative trading on forex and CFD’s in accordance with the regulatory requirements applicable in the client’s local jurisdiction</p>"
      }
    }),
  }
</script>

<style lang="scss" scoped>

</style>