<template lang="pug">
  .page.marketing-tools
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | MARKETING TOOLS

      .content-wrapper
        .row
          .sidebar
            h4 Drive traffic directly to your site with a wide selection of effective marketing tools. Grow your client-base and take your promotional efforts to the next level, with Trades.com creatives, increasing conversions with lucrative and successful campaigns.
          .cart-list.row
            .cart
              ISvg(name="design")
              h4 Web Design & SEO Assistance
              p Our dedicated marketing team is available to provide professional assistance in the design and search engine optimization of your website, while ensuring a quality user experience for your clients.
            .cart
              ISvg(name="landing")
              h4 Landing Pages
              p Our highly effective and appealing landing pages, are designed to boost conversions and can be tailored specifically to suit your brand.
            .cart
              ISvg(name="wigets")
              h4 Wigets 
              p Trades.com’s user-friendly widgets offer added-value, increasing your retention by providing a range of forex information, such as up-to-the-minute financial figures, or current platform market sentiment.
            .cart
              ISvg(name="collateral")
              h4 Customized Collateral
              p Trades.com understands that every partner has unique needs and preferences and we are happy to discuss  possibilities of tailoring our marketing tools to comply with your brands specific requests.

</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import ISvg from "@/components/ISvg/ISvg";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";
  import IForm from "@/components/IForm/IForm";

  export default {
    components: {
      INavBtn,
      IGroupIcon,
      IForm,
      ISvg
    },
    data: () => ({
      partner: {
        svg: "partner",
        content: "<p>Fill in the Form and Join our<br> Partnership Program Today!</p>"
      },
      formData: [
        {
          "row": {
            "col-1": {
              col: 3,
              name: {
                label: "*Full name",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              email: {
                label: "*Email address",
                name: 'input',
                type: 'email',
                placeholder: '',
              },
            },
            "col-2": {
              col: 3,
              adress: {
                label: "*Address",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              phone: {
                label: "*Phone number",
                name: 'input',
                type: 'tel',
                placeholder: '',
              },
            },
            "col-3": {
              col: 3,
              adress: {
                label: "*Account number",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              complaint: {
                label: "*Description of your complaint:",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            },
          }
        },
        {
          "row": {
            "col-1": {
              col: 3,
              complaint: {
                label: "*Summary of your complaint",
                name: 'input',
                type: 'text',
                placeholder: 'General customer service',
              },
              date: {
                label: "Date",
                name: 'input',
                type: 'text',
                placeholder: 'dd/mm/yy',
              },
            },
            "col-2": {
              col: 6,
              complaint: {
                label: "Have allready communicated with The Company in relation this problem",
                name: 'input',
                type: 'text',
                placeholder: 'Yes',
              },
              date: {
                label: "Include name of the person that you have comunicated with",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            }
          }
        },
        {
          "row": {
            "col-1": {
              col: 3
            },
            "col-2": {
              col: 3,
              file: {
                label: 'Supportive docs',
                name: 'input',
                type: 'file',
              },
            },
            "col-3": {
              col: 3,
              submit: {
                name: 'button',
                type: 'submit',
                value: "CREATE AN ACCOUNT",
              },
            }
          }
        },
      ],
    }),
  }
</script>

<style lang="scss" scoped>

</style>