<template lang="pug">
  .page.traiding-platforms
    .container
      h1.title-page
        INavBtn(
          type="prev",
        )
        | TRADING PLATFORMS

      .content-wrapper
        .heading
          .row
            .left
              h3 MetaTrader 4
              h4 A Next Level Trading Experience<br>Access your account via any device, at any time.
              p Take advantage of the world renowned, feature-rich MetaTrader4 (MT4) forex and CFD platform. 
                br
                br
                | At Trades.com you can enjoy a powerful, reliable and stable trading experience on the platform that has set the industry standard.  Choose from MT4’s wide array of professional-grade trading tools and features, accessing the global markets 24/5 via your desktop, mobile or tablet.
            .right
              img(src="/image/meta4-logo.png", alt="")
              .download
                h4 Download for
                .download-list.row
                  .item
                    img(src="/image/windows.svg", alt="")
                    p Windows
                  .item
                    img(src="/image/ios.svg", alt="")
                    p IOS
                  .item
                    img(src="/image/android.svg", alt="")
                    p Android
                  .item
                    img(src="/image/globe.svg", alt="")
                    p Web Trader

        .list-platforms
          .item-platforms.row
            .left
              h3 MetaTrader 4: Desktop
              h4 Rapid, secure and reliable trading<br>The platform of choice for the world’s top traders
              p Instantly access the global forex and CFD markets with ease, via the sophisticated, user-friendly MetaTrader4 download platform, which is perfect for traders at every level. Control every aspect of your trading experience, benefiting from rich functionality, advanced automation capabilities and an easy-to-navigate interface. 
              .download
                img(src="/image/windows.svg", alt="")
                .desc
                  p 
                    b MT4 Desktop Download Requirements<br>
                    | Windows 2000 / XP / Vista, at least 2.0 GHz CPU, screen resolution at least 1024x768, 512 MB RAM, modem/connection speed at least 36.6 Kbps.
                  a(href="").btn-white DOWNLOAD NOW

            .right
              img(src="/image/meta.png", alt="")
          .item-platforms.row
            .left
              h3 MetaTrader 4: Desktop
              h4 Rapid, secure and reliable trading<br>The platform of choice for the world’s top traders
              p Instantly access the global forex and CFD markets with ease, via the sophisticated, user-friendly MetaTrader4 download platform, which is perfect for traders at every level. Control every aspect of your trading experience, benefiting from rich functionality, advanced automation capabilities and an easy-to-navigate interface. 
              .download
                img(src="/image/windows.svg", alt="")
                .desc
                  p 
                    b MT4 Desktop Download Requirements<br>
                    | Windows 2000 / XP / Vista, at least 2.0 GHz CPU, screen resolution at least 1024x768, 512 MB RAM, modem/connection speed at least 36.6 Kbps.
                  a(href="").btn-white DOWNLOAD NOW

            .right
              img(src="/image/meta.png", alt="")
          .item-platforms.row
            .left
              h3 MetaTrader 4: Desktop
              h4 Rapid, secure and reliable trading<br>The platform of choice for the world’s top traders
              p Instantly access the global forex and CFD markets with ease, via the sophisticated, user-friendly MetaTrader4 download platform, which is perfect for traders at every level. Control every aspect of your trading experience, benefiting from rich functionality, advanced automation capabilities and an easy-to-navigate interface. 
              .download
                img(src="/image/windows.svg", alt="")
                .desc
                  p 
                    b MT4 Desktop Download Requirements<br>
                    | Windows 2000 / XP / Vista, at least 2.0 GHz CPU, screen resolution at least 1024x768, 512 MB RAM, modem/connection speed at least 36.6 Kbps.
                  a(href="").btn-white DOWNLOAD NOW

            .right
              img(src="/image/meta.png", alt="")
          .item-platforms.row
            .left
              h3 MetaTrader 4: Desktop
              h4 Rapid, secure and reliable trading<br>The platform of choice for the world’s top traders
              p Instantly access the global forex and CFD markets with ease, via the sophisticated, user-friendly MetaTrader4 download platform, which is perfect for traders at every level. Control every aspect of your trading experience, benefiting from rich functionality, advanced automation capabilities and an easy-to-navigate interface. 
              .download
                img(src="/image/windows.svg", alt="")
                .desc
                  p 
                    b MT4 Desktop Download Requirements<br>
                    | Windows 2000 / XP / Vista, at least 2.0 GHz CPU, screen resolution at least 1024x768, 512 MB RAM, modem/connection speed at least 36.6 Kbps.
                  a(href="").btn-white DOWNLOAD NOW

            .right
              img(src="/image/meta.png", alt="")
</template>


<script>
  import INavBtn from "@/components/INavBtn/INavBtn";
  import ISvg from "@/components/ISvg/ISvg";
  import IGroupIcon from "@/components/IGroupIcon/IGroupIcon";
  import IForm from "@/components/IForm/IForm";

  export default {
    components: {
      INavBtn,
      IGroupIcon,
      IForm,
      ISvg
    },
    data: () => ({
      partner: {
        svg: "partner",
        content: "<p>Fill in the Form and Join our<br> Partnership Program Today!</p>"
      },
      formData: [
        {
          "row": {
            "col-1": {
              col: 3,
              name: {
                label: "*Full name",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              email: {
                label: "*Email address",
                name: 'input',
                type: 'email',
                placeholder: '',
              },
            },
            "col-2": {
              col: 3,
              adress: {
                label: "*Address",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              phone: {
                label: "*Phone number",
                name: 'input',
                type: 'tel',
                placeholder: '',
              },
            },
            "col-3": {
              col: 3,
              adress: {
                label: "*Account number",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
              complaint: {
                label: "*Description of your complaint:",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            },
          }
        },
        {
          "row": {
            "col-1": {
              col: 3,
              complaint: {
                label: "*Summary of your complaint",
                name: 'input',
                type: 'text',
                placeholder: 'General customer service',
              },
              date: {
                label: "Date",
                name: 'input',
                type: 'text',
                placeholder: 'dd/mm/yy',
              },
            },
            "col-2": {
              col: 6,
              complaint: {
                label: "Have allready communicated with The Company in relation this problem",
                name: 'input',
                type: 'text',
                placeholder: 'Yes',
              },
              date: {
                label: "Include name of the person that you have comunicated with",
                name: 'input',
                type: 'text',
                placeholder: '',
              },
            }
          }
        },
        {
          "row": {
            "col-1": {
              col: 3
            },
            "col-2": {
              col: 3,
              file: {
                label: 'Supportive docs',
                name: 'input',
                type: 'file',
              },
            },
            "col-3": {
              col: 3,
              submit: {
                name: 'button',
                type: 'submit',
                value: "CREATE AN ACCOUNT",
              },
            }
          }
        },
      ],
    }),
  }
</script>

<style lang="scss" scoped>

</style>