<template lang="pug">
component.i-button(:is="type", :to="navigate", @click="$emit('click')") {{ text }}
</template>

<script>
export default {
  props: {
    navigate: {
      type: String,
      required: false,
      default: ""
    },
    text: {
      type: String,
      required: true
    }
  },
  computed: {
    type() {
      if (this.navigate) {
        return "nuxt-link";
      }
      return "button";
    }
  }
};
</script>

<style lang="sass">
@import IButton
</style>
