.i-button
  font-weight: bold
  font-size: 1.5rem
  line-height: 1.5rem
  letter-spacing: 0.1em
  text-transform: uppercase
  color: $white
  width: 17rem
  height: 4rem
  border: 1px solid $white
  box-sizing: border-box
  background: transparent
  transition: .5s $bezier

  &.small
    font-size: 1rem
    line-height: 1rem
    width: 12rem

@media screen and (max-width: $medium)
  .i-button
    font-size: 10px
    line-height: 10px
    height: 3.4rem
    &.small
      height: 3rem
