<template lang="pug">
.i-footer(:class="{ open: openFooter}")
  .i-footer-content
    .row.i-footer-bar
      .man
        img(src="/image/man.png", alt="")
        p Gives you more ways to make your money work harder<br>
          a(href="") join now&nbsp
          | or&nbsp
          a(href="") try demo account 

      .group
        INavBtn(type="scroll", @click="toggleFooter()")

        p.contact Contact us
          a(href="") support@trades.com

      p.copy © Copyright 2020 -Trades.com- All rights reserved.

    .row.i-footer-desc(v-if="windowWidth <= breakpoints.medium")
      .left
        h3 RISK WARNING
        p Trading in forex/CFDs involves significant risk and may not be suitable for all investors. Trading in the financial markets may lead to a loss of some or all of your original investment and as such you should not invest money that you cannot afford to lose. Trading on margin/leverage can work against you as well as for you. You should be fully aware of all risks involved in trading and should seek professional advice from an independent financial advisor if you have any doubts. Please read and ensure you fully understand our Risk Disclosure Notice.
        p
          b Fxnet Brand operates under the authorization and regulations of Various Jurisdictions.

        p This domain (www.trades.com) is owned and operated by BelFX Limited; an International Business Company which is authorised and regulated by the International Financial Services Commission (IFSC) under License number IFSC/60/260/TS/17. BelFx Ltd is incorporated and registered under the laws of Belize (Certificate of Incorporation No. 130266). Registered address: No. 5 Cork Street, 3rd Floor, Belize City, Belize (Certificate of Incorporation No. 130266).

        p BelFX Limited owns OLOFX Limited - a European Company, which serves as a payment administrator for BelFX Ltd. OLOFX Ltd is incorporated under the Laws of the Republic of Cyprus with the registration number HE 351124 and having its registered address at 37 Theklas Lysioti, GEMINI HOUSE, Floor 3, Office 301, 3030 Limassol, Cyprus.

        p The domain www.trades.com/eu is owned and operated by FxNet Limited; Cypriot Investment Firm, which is authorized and regulated by the Cyprus Securities and Exchange Commission (CySEC), under license number 182/12. FxNet Ltd is incorporated and registered under the laws of the Republic of Cyprus (Certificate of Incorporation No. 300624).Registered address: 4 Theklas Lysioti St, Harmony House, Office 31, 3rd Floor, 3030 Limassol, Cyprus.

        p
          b Geo restrictions:
        p FxNet.com does not provide services to residents of the USA, Belize, Japan, Canada, Russia, Azerbaijan and citizens of the European Economic Area (EEA) - the 28 EU member states including Iceland, Norway and Liechtenstein.

      .right
        h3 Customer Support
        a(href="mailto:support@trades.com") support@trades.com
        p phone number goes here
        p Business Center, Bldg C, 3rd Floor Logistic City, Dubai, U.A.E

    .row.i-footer-menu
      transition(name="ifooter-item")
        .i-footer-menu-item(v-if="start > 0 || !animation")
          a.title(href="") link Trading platforms
          ul
            li
              a(href="") Meta Trader
            li
              a(href="") Tablet Trader
            li
              a(href="") Web Trader
            li
              a(href="") Mobile Trader

      transition(name="ifooter-item")
        .i-footer-menu-item(v-if="start > 1 || !animation")
          a.title(href="") Trading platforms
          ul
            li
              a(href="") Meta Trader
            li
              a(href="") Tablet Trader
            li
              a(href="") Web Trader
            li
              a(href="") Mobile Trader

      transition(name="ifooter-item")
        .i-footer-menu-item(v-if="start > 2 || !animation")
          a.title(href="") Trading platforms
          ul
            li
              a(href="") Meta Trader
            li
              a(href="") Tablet Trader
            li
              a(href="") Web Trader
            li
              a(href="") Mobile Trader

      transition(name="ifooter-item")
        .i-footer-menu-item.last(v-if="start > 3 || !animation")
          ul
            li
              a.title(href="") Investments
            li
              a.title(href="") The Company
    
</template>

<script>
import counter from "@/mixins/counter.js";

import { mapState } from "vuex";
import { Fragment } from "vue-fragment";
import { vueWindowSizeMixin } from "vue-window-size";

export default {
  data() {
    return {
      start: 0,
      end: 4,
      delay: 200,
      openFooter: false
    };
  },
  components: {
    Fragment
  },
  methods: {
    toggleFooter() {
      if (this.openFooter && this.step === 7) {
        this.$store.dispatch("DOWN_STEP");
        this.openFooter = false;
      } else if (this.openFooter && this.step !== 7) {
        this.openFooter = false;
      } else {
        this.openFooter = true;
      }
    }
  },
  watch: {
    step(newVal, oldVal) {
      if (newVal === 7) this.openFooter = true;
      else this.openFooter = false;
    },
    openFooter(newVal, oldVal) {
      if (newVal) this.upCounter();
      else this.downCounter();
    }
  },
  mixins: [counter, vueWindowSizeMixin],
  computed: {
    ...mapState({
      step: state => state.step,
      breakpoints: state => state.breakpoints,
      animation: state => state.animation
    })
  }
};
</script>

<style lang="sass" scoped>
@import IFooter
</style>
