
.i-footer
  position: fixed
  z-index: 95
  left: 0
  bottom: 0
  width: 100%
  padding-left: 10rem
  padding-right: 10rem
  box-sizing: border-box
  padding-bottom: 4rem
  padding-top: 4rem
  transform: translate(0, calc(100% - 11rem))
  transition: 1s $bezier
  &::after
    position: absolute
    left: 0
    top: 0
    width: 100vw
    height: calc(var(--vh, 1vh) * 100)
    background: rgba(0, 0, 0, 0.3)
    z-index: -2
    content: ""
    transition: 1s $bezier
    transform: translate(0, calc(100% - 10rem))

  &::before
    position: absolute
    left: 0
    top: 0
    width: 100vw
    height: calc(var(--vh, 1vh) * 100)
    background: $blue
    z-index: -1
    content: ''
    transform: translate(0, calc(100% - 10rem))
    transition: 4s $bezier

  &.open
    transition-delay: .2s
    transform: translate(0, 0)
    &::after
      transform: translate(0, -100%)
      top: 100%

    &::before
      transition: 1s $bezier
      transform: translate(0, -4rem)

    .i-nav-btn
      transform: translate(-50%, -160%) rotate(-135deg)

  &-content

  .group
    position: relative

  .i-nav-btn
    position: absolute
    left: 50%
    top: 0
    transform: translate(-50%, -140%) rotate(45deg)

  &-bar
    padding-left: 5rem
    padding-right: 5rem
    box-sizing: border-box
    height: 10rem
    align-items: center
    justify-content: space-between
    padding-bottom: 4rem
    .man
      display: flex
      align-items: center
      max-width: 50rem
      img
        width: 6rem
        height: 6rem
        margin-right: 1.2rem

      p
        font-size: 1.6rem
        line-height: 140%
        letter-spacing: -0.03em
        a
          text-transform: uppercase
          font-weight: bold
          font-size: 1.2rem
          line-height: 1.1rem
          letter-spacing: 0.1em
          display: inline-block

    .contact
      font-weight: bold
      font-size: 1.8rem
      line-height: 100%
      letter-spacing: -0.01em
      display: flex
      align-items: center
      a
        display: block
        margin-left: 0.8rem
        font-weight: 500
        font-size: 1.2rem
        letter-spacing: 0.1em
        margin-top: -0.5rem

    .copy
      font-size: 1.4rem
      line-height: 100%
      letter-spacing: -0.01em

  &-menu
    margin-top: 1rem
    &-item
      width: 25%
      &.last
        li:first-child
          margin-top: 0

    ul
      padding-left: 1.6rem

    li
      margin-top: 2.4rem

    a
      font-size: 1.6rem
      line-height: 1.5rem
      letter-spacing: -0.03em
      color: #FFFFFA

      &.title
        text-indent: 0
        font-weight: bold
        font-size: 1.5rem
        line-height: 1.4rem
        letter-spacing: 0.1em
        text-transform: uppercase

.ifooter-enter-active, .ifooter-leave-active
  transition: transform 1s $bezier

.ifooter-enter, .ifooter-leave-to
  transform: translate(0, 100%)

// News-Item
.ifooter-item-enter-active,
.ifooter-item-leave-active
  transition: all .5s $bezier

.ifooter-item-enter,
.ifooter-item-leave-to
  transform: translateY(20%)
  opacity: 0

@media screen and (max-width: $medium)
  .i-footer
    padding: 10rem 3rem 3rem 3rem
    transform: translate(0, 100%)
    box-sizing: border-box

    &::before
      transform: translate(0, 0)

    &.open
      height: calc(var(--vh, 1vh) * 100)

      &::before
        transform: translate(0, 0)

      .i-nav-btn
        display: none

    &-content
      display: flex
      flex-wrap: wrap

    &-menu
      width: 100%
      order: 1
      margin-bottom: 3rem
      a.title
        font-size: 1rem
        line-height: 1rem

      a
        font-size: 1.2rem
        line-height: 140%

      ul
        padding-left: 0

      li
        margin-top: 1rem

    &-bar
      order: 3
      flex-wrap: wrap
      padding: 0
      height: auto
      .copy
        margin-top: 1.5rem
        font-size: 10px
        line-height: 100%
        width: 100%
        text-align: center

      .man
        img
          width: 4rem
          height: 4rem

        p
          font-size: 1rem
          line-height: 140%
          a
            font-size: inherit

      .contact
        font-size: 1rem
        line-height: 100%
        a
          font-size: inherit
          margin-top: 0

    &-desc
      order: 2
      display: flex
      align-items: center
      margin-bottom: 3rem
      h3
        font-weight: 500
        font-size: 1.6rem
        line-height: 150%
        letter-spacing: 0.1em
        text-transform: uppercase
        margin-bottom: 1.6rem
      p, a
        font-weight: 400
        font-size: 1rem
        line-height: 140%
        letter-spacing: -0.03em
        margin-bottom: 1rem
        display: block
        color: $white
        &:last-child
          margin-bottom: 0

      p b
        font-size: 1.6rem

      .left
        max-width: calc(100% - 16rem)
        padding-right: 3rem

      .right
        max-width: 16rem

@media screen and (max-width: $tablet)
  .i-footer
    position: relative
    transform: translate(0, 0)
    background-color: $blue

    &:after, &:before
      display: none

@media screen and (max-width: 425px)
  .i-footer
    padding-top: 6rem
    padding-bottom: 2rem
    padding-left: 2rem
    padding-right: 2rem
    .i-nav-btn
      display: none
    &-bar
      flex-direction: column
      align-items: flex-start
      .man
        order: 2
        margin-top: 3rem
        margin-bottom: 6rem
        p
          font-size: 1.4rem
          br
            display: none

      .copy
        order: 3
        font-size: 1.4rem

      .contact
        order: 1
        font-size: 1.4rem

    &-menu
      &-item
        width: 50%
        margin-bottom: 4rem

    &-desc
      flex-direction: column-reverse
      align-self: start
      .left
        padding: 0
        max-width: 100%
        p
          font-size: 1.4rem
          margin-bottom: 2rem
          b
            font-size: 1.8rem

      .right
        max-width: 50%
        width: 100%
        margin-left: 50%
        margin-top: -10rem
