<template lang="pug">
.i-cursor(ref="iCursor", :class="[{ click: click }, { pointer: pointer }]")
  .i-cursor-x
  .i-cursor-y
</template>

<script>
export default {
  data() {
    return {
      x: 0,
      y: 0,
      click: false,
      pointer: false
    };
  },
  mounted() {
    let self = this;
    document.addEventListener("DOMContentLoaded", function() {
      document.addEventListener(
        "mousemove",
        function(e) {
          self.x = e.pageX;
          self.y = e.pageY;
          self.move(e);
        },
        false
      );
      document.addEventListener("click", function(e) {
        self.click = true;
        setTimeout(() => {
          self.click = false;
        }, 200);
      });
    });
  },
  methods: {
    move(e) {
      this.$refs.iCursor.style.left = this.x + "px";
      this.$refs.iCursor.style.top = this.y + "px";
    }
  }
};
</script>

<style lang="sass">
@import ICursor
</style>
