html, *
  cursor: none!important

.pointer
  .i-cursor
    &:after
      width: 6rem
      height: 6rem
      border-color: #fff
      transition: border 0s, background .1s ease-in-out, width .3s ease-in-out, height .3s ease-in-out

.pointer-scroll
  .i-cursor
    &:before
      width: 6rem
      height: 6rem
      border-color: #fff
      transition: border 0s, background .1s ease-in-out, width .3s ease-in-out, height .3s ease-in-out
.hover
  .i-cursor
    &-x, &-y
      background-color: rgba(0, 28, 71, 7)
    &.click
      &::before, &::after
        background: rgba(0, 28, 71, 7)

.i-cursor
  opacity: 0.5
  pointer-events: none
  position: absolute
  top: 50%
  left: 90%
  width: 6rem
  height: 6rem
  z-index: 1000
  box-sizing: border-box
  transform: translate(-50%, -50%)
  &::after, &::before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    width: 0rem
    height: 0rem
    z-index: 1000
    box-sizing: border-box
    transform: translate(-50%, -50%)
    border: 1px solid transparent
    transition: border 1s, background .1s ease-in-out, width .3s ease-in-out, height .3s ease-in-out
  &::before
    transform: rotate(45deg) translate(-71%, 0%)

  &.click
    &::before, &::after
      background: rgba(255, 255, 255, .7)

  &-x, &-y
    transition: background .5s $bezier
    background-color: #fff
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

  &-x
    height: 1px
    animation: an-cursor-w 1s $bezier 3s forwards

  &-y
    animation: an-cursor-h 1s $bezier 3s forwards
    width: 1px

@keyframes an-cursor-w
  from
    width: 0vw
  to
    width: 200vw

@keyframes an-cursor-h
  from
    height: 0vh
  to
    height: 200vh
