.i-logo-item
  &[data-idx="1"]
    .i-logo-rotate
      animation-duration: 13s

  &[data-idx="2"]
    .i-logo-rotate
      animation-duration: 17s
      animation-direction: reverse

  &[data-idx="3"]
    .i-logo-rotate
      animation-duration: 15s

  &[data-idx="4"]
    .i-logo-rotate
      animation-duration: 10s
      animation-direction: reverse

  &[data-idx="5"]
    .i-logo-rotate
      animation-duration: 16s

  &[data-idx="6"]
    .i-logo-rotate
      animation-duration: 18s
      animation-direction: reverse

.start-animation.step-up
  .i-logo-item
    &.animate-one
      transition-delay: 0s

.i-logo
  position: absolute
  left: 0
  top: 0
  width: 100vw
  height: calc(var(--vh, 1vh) * 100)
  z-index: 85
  pointer-events: none

  &-item
    transition: .5s $bezier
    position: absolute
    opacity: 0

    &:nth-child(2n)
      transform: translate(0%, 100%)
    &:nth-child(2n+1)
      transform: translate(0%, -100%)

    &[data-idx="1"]
      bottom: 55vh
      left: 15vw

    &[data-idx="2"]
      bottom: 22vh
      left: 10vw

    &[data-idx="3"]
      bottom: 15vh
      left: 33vw

    &[data-idx="4"]
      bottom: 13vh
      left: 60vw

    &[data-idx="5"]
      bottom: 22vh
      left: 80vw

    &[data-idx="6"]
      bottom: 56vh
      left: 76vw

  &-rotate
    animation: rotate linear infinite
    will-change: transform

  &-before, &-after
    display: flex

  &-before
    .i-logo-desc
      p
        transition: .5s $bezier
        opacity: 0

  &-after
    position: absolute
    left: 0
    top: 0

    .i-logo-img
      opacity: 0

    .i-logo-desc
      opacity: 0

  &-img
    transition: .5s $bezier
    width: 6rem
    img
      width: 4.2rem
      min-width: 4.2rem

  &-desc
    transition: .5s $bezier
    p
      font-weight: 500
      font-size: 1.4rem
      line-height: 1.3rem
      letter-spacing: -0.05em
      color: $white
      white-space: nowrap
      &:first-child
        height: 3rem

// hide Ilogo

.ilogo-enter-active, .ilogo-leave-active
  transition: opacity .5s $bezier

.ilogo-enter, .ilogo-leave-to
  opacity: 0

@media screen and (min-width: $desctop)
  .start-animation
    .i-logo-item

      &.animate-one
        opacity: 0.5
        transform: translate(0%, 0%)
        transition-delay: 3s

      &.animate-two
        opacity: 1
        transform: translate(-40%, -40%)
        &[data-idx="2"]
          transform: translate(40%, -40%)

        .i-logo-before
          .i-logo-desc
            p
              opacity: 1

        .i-logo-img, .i-logo-desc
          // transform: translate(-.5rem, 0%)
          transition-delay: 3s

        .i-logo-before
          .i-logo-img
            opacity: 0
          .i-logo-desc
            opacity: 0

        .i-logo-after
          .i-logo-img
            opacity: 1

          .i-logo-desc
            transition-delay: 3.2s
            opacity: 1
@media screen and (max-width: $medium)
  .i-logo
    &-item
      &[data-idx="1"]
        bottom: 65vh
        left: 10vw

      &[data-idx="2"]
        bottom: 30vh
        left: 10vw

      &[data-idx="3"]
        bottom: 18vh
        left: 33vw

      &[data-idx="4"]
        bottom: 15vh
        left: 60vw

      &[data-idx="5"]
        bottom: 22vh
        left: 80vw

      &[data-idx="6"]
        bottom: 56vh
        left: 86vw

      &.animate-one, &.animate-two
        opacity: 0.5
        transform: translate(0%, 0%)
        transition-delay: 3s

@media screen and (max-width: 425px)
  .i-block-one
    .i-logo
      &-item
        margin-bottom: -10vh

  .i-logo
    &-img
      width: auto
      img
        width: 3rem
        min-width: 3rem
