<template lang="pug">
.i-logo
  .i-logo-item(
    v-for="(item, idx) in newList",
    :key="idx",
    :data-idx="idx + 1",
    :class="classList[idx]"
  )
    .i-logo-rotate
      .i-logo-opacity
        .i-logo-before
          .i-logo-img
            img(:src="`/image/${item[0]}.svg`", :alt="item[0]")
          .i-logo-desc(v-if="windowWidth >= breakpoints.medium")
            p 
              b ALIB
              | &#160| Alibaba
            p
              b 1536.5 +33.1 (-2.26)
        .i-logo-after
          .i-logo-img
            img(:src="`/image/${item[1]}.svg`", :alt="item[1]")
          .i-logo-desc(v-if="windowWidth >= breakpoints.medium")
            p 
              b AMD
              | &#160| Advanced Micro Devices
            p
              b 1536.5 +33.1 (-2.26)
</template>

<script>
import counter from "@/mixins/counter.js";
import { mapState } from "vuex";
import { vueWindowSizeMixin } from "vue-window-size";

export default {
  props: {
    list: {
      type: Array,
    },
  },
  data() {
    return {
      newList: Array,
      swap: false,
      start: 1,
      end: 6,
      delay: 300,
      classList: [
        "animate",
        "animate",
        "animate",
        "animate",
        "animate",
        "animate",
      ],
    };
  },
  mixins: [counter, vueWindowSizeMixin],
  watch: {
    start: {
      deep: true,
      handler() {
        this.classList = this.classList.map((a, idx) => {
          if (idx < this.start) {
            if (this.step === 1) return "animate-one";
            else if (this.step === 2) return "animate-two";
            else if (this.step === 3) return "animate-three";
          } else return a;
        });
      },
    },
    step: {
      deep: true,
      handler() {
        this.start = 0;
        this.upCounter();
      },
    },
  },
  methods: {
    sortList() {
      let odd = [],
        even = [];

      this.list.map((el, idx) => {
        if (idx % 2 != 0) {
          odd.push(el);
        } else {
          even.push(el);
        }
      });

      this.newList = odd.map((el, idx) => {
        this.classList[idx] = "animate";
        return [el, even[idx]];
      });
    },
  },
  mounted() {
    this.sortList();
    this.upCounter();
  },
  created() {},
  computed: {
    ...mapState({
      step: (state) => state.step,
      breakpoints: (state) => state.breakpoints,
    }),
  },
};
</script>

<style lang="sass" scoped>
@import ILogo
</style>
