.i-header
  transition: 1s $bezier
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 100

  &.hover
    &::before
      height: 32rem

    .menu
      & > li
        &::after
          background-color: $blue
        a
          color: $blue

    .group
      a
        color: $blue

    .i-button
      color: $blue
      border-color: $blue
    .i-burger
      span
        background-color: $blue

  .row
    align-items: center

  .menu
    display: flex

    & > li
      position: relative

      & > a
        font-weight: bold
        letter-spacing: 0.1em
        text-transform: uppercase
        transition: .5s $bezier

  .sub-menu
    // transition: .3s $bezier
    li
      margin-bottom: 2rem
      &:last-child
        margin-bottom: 0
    a
      font-weight: bold
      letter-spacing: 0.1em
      color: $blue

  .group
    display: flex
    align-items: center
    margin-right: 2rem
    li
      position: relative
      margin-right: 2rem
      &:last-child
        margin-right: 0
      &::after
        position: absolute
        left: 0
        bottom: -0.3rem
        width: 100%
        background-image: url(/image/detted.svg)
        height: 1px
        content: ''
    a
      font-weight: bold
      letter-spacing: 0.1em
      text-transform: uppercase
      color: $white
      transition: .5s $bezier

// visible header

.iheader-enter-active, .iheader-leave-active
  transition: 1s $bezier

.iheader-enter, .iheader-leave-to
  transform: translate(0, -100%)

@media screen and (min-width: $desctop)
  .i-header
    padding-top: 3rem

    .container
      padding-right: 10rem
      padding-left: 3rem

    .logo
      max-width: 7rem

    .menu
      align-items: center
      margin-left: auto
      margin-right: 12rem
      height: 8rem
      & > li
        & > a
          font-size: 1.5rem
          line-height: 1.4rem
          color: $white

    .sub-menu
      a
        font-size: 1.2rem
        line-height: 1.1rem

    .group
      a
        font-size: 1.2rem
        line-height: 1.1rem

    &::before
      position: absolute
      z-index: -1
      background-color: $white
      transition: .5s $bezier
      content: ''
      top: 0
      right: 0
      width: calc(100% - 50rem)
      height: 0rem

    .menu
      & > li
        margin-right: 4rem

        &:last-child
          margin-right: 0

        &::after
          position: absolute
          left: 0
          bottom: -0.3rem
          width: 1rem
          height: 1px
          background-color: $white
          content: ''
          transition: .5s $bezier

        &:hover
          &::after
            width: 100%

          // .sub-menu
          //   transform: translate(0, 100%)
          //   opacity: 1

  .sub-menu
    position: absolute
    left: 0
    bottom: -3rem
    min-width: max-content
    transform: translate(0, calc(100% - 3rem))
    padding-top: 3rem
    // opacity: 0

  .fade-menu-enter-active,
  .fade-menu-leave-active
    transition: .3s $bezier

  .fade-menu-enter,
  .fade-menu-leave-to
    transform: translate(0, calc(100% + 3rem))
    opacity: 0

@media screen and (max-width: $medium)
  .i-header
    padding-top: 1.5rem

    .container
      padding: 0 4rem

    .logo
      max-width: 6rem

    .menu
      position: fixed
      left: 0
      top: 0
      width: 100vw
      height: 100vh
      background-color: $white
      z-index: -1
      flex-wrap: wrap
      padding: 5rem
      padding-top: 12.5rem
      & > li
        font-size: 2rem
        line-height: 1.9rem
        margin-right: 0
        max-width: 50%
        width: 100%
        li
          font-size: 1.5rem
          line-height: 1.4rem
          &:first-child
            margin-top: 3rem

    .group
      margin-left: auto
      a
        font-size: 1rem

    .i-burger
      background-color: transparent
      padding: 1rem .7rem
      margin-left: 2rem
      span
        width: 16px
        height: 1px
        background-color: $white
        display: block
        margin-bottom: 0.5rem
        &:last-child
          margin-bottom: 0

@media screen and (max-width: $tablet)
  .i-header
    position: fixed

@media screen and (max-width: 425px)
  .i-header
    padding-top: 2rem
    .container
      padding: 0 2rem

    .logo
      max-width: 4rem

    .menu
      padding: 2rem
      padding-top: 9.5rem
      & > li
        font-size: 1.7rem
        line-height: 1.6rem
        li
          font-size: 1.3rem
          line-height: 1.2rem
          margin-bottom: 1.5rem
          &:first-child
            margin-top: 1.5rem
