<template lang="pug">
.i-header(:class="[hoverClass, {hover: openMenuTablet}]")
  .container
    .row
      nuxt-link.logo(to="/") 
        img(src="/image/logo.svg", alt="alt")
        
      ul.menu(@mouseenter="[hoverClass = 'hover', cursorHover()]" @mouseleave="[hoverClass = '', cursorReset()]" :class="{open: openMenuTablet}" v-show="openMenuTablet || !tabletMenu")
        li(@mouseenter="idx = 1" @mouseleave="idx = 0")
          nuxt-link(to="#") About us
          transition(name="fade-menu")
            ul.sub-menu(v-if="idx === 1 || tabletMenu")
              li
                nuxt-link(to="/about-us") About Us
              li
                nuxt-link(to="/why-trade") Why Trade with Investing24.com

              li
                nuxt-link(to="/company-news") Company news 
              li
                nuxt-link(to="/legal-documents") Legal Documents
              li
                nuxt-link(to="/about-us-faqs") About us FAQs
              li
                nuxt-link(to="/contact-us") Contact Us


        li(@mouseenter="idx = 2" @mouseleave="idx = 0")
          nuxt-link(to="#") Accounts
          transition(name="fade-menu")
            ul.sub-menu(v-if="idx === 2 || tabletMenu")
              li
                nuxt-link(to="#") Compare Accounts
              li
                nuxt-link(to="#") Open Live Account
              li
                nuxt-link(to="#") Deposits & Withdrawals
              li
                nuxt-link(to="#") Open Demo Account
              li
                nuxt-link(to="#") Islamic Accounts
        li(@mouseenter="idx = 3" @mouseleave="idx = 0")
          nuxt-link(to="#") Instruments
          transition(name="fade-menu")
            ul.sub-menu(v-if="idx === 3 || tabletMenu")
              li
                nuxt-link(to="#") Currencies
              li
                nuxt-link(to="#") Commodities
              li
                nuxt-link(to="#") Shares
              li
                nuxt-link(to="#") Bonds
              li
                nuxt-link(to="#") Metals
              li
                nuxt-link(to="#") Indices

        li
          nuxt-link(to="#") Trading tools
        li
          nuxt-link(to="#") become a partner
        li
          nuxt-link(to="#") Contact

      ul.group
        li
          nuxt-link(to="#") ENG
          
        li
          nuxt-link(to="#") Login

      IButton.small(text="Register") 
      button.i-burger(v-if="tabletMenu" @click="openMenuTablet = !openMenuTablet")
        span
        span
        span
</template>

<script>
import { vueWindowSizeMixin } from "vue-window-size";

export default {
  data() {
    return {
      idx: 0,
      hoverClass: "",
      tabletMenu: false,
      openMenuTablet: false, 
    };
  },
  mixins: [vueWindowSizeMixin],
  watch: {
    windowWidth(newValue, oldValue) {
      this.changeTabletMenu()
    }
  },
  methods: {
    cursorHover() {
      this.$store.dispatch("TOGGLE_CURSOR", "hover");
    },
    cursorReset() {
      this.$store.dispatch("TOGGLE_CURSOR", "");
    },
    changeTabletMenu() {
     if(this.windowWidth <= 1024) {
        this.tabletMenu = true
      } else {
        this.tabletMenu = false
      }
    }
  },
  mounted () {
    this.changeTabletMenu();
  },
};
</script>

<style lang="sass">
@import IHeader
</style>
