.i-block-social
  position: absolute
  z-index: 80
  left: 20rem
  bottom: 0
  width: calc(100vw - 30rem)
  height: calc(var(--vh, 1vh) * 100 - 20rem)
  .title-block
    margin-bottom: 9vh

  &-sidebar
    width: 30rem
    p
      font-size: 1.8rem
      line-height: 140%
      letter-spacing: -0.03em
      color: $white
      margin-bottom: 3.3rem
      max-width: 27.8rem

    img
      max-width: 27.8rem

  &-content
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    width: 100%
    max-width: calc(100% - 30rem)
    padding-left: 4rem
    box-sizing: border-box

  &-list
    display: flex
    align-items: flex-start
    width: 100%

  &-items
    display: flex
    justify-content: center
    width: 33.33333%
    &:last-child
      margin-right: 0

    &-image
      width: 18rem
      height: 18rem

    &-desc
      max-width: 20rem
      margin-left: 1rem
      p
        font-size: 1.8rem
        line-height: 140%
        letter-spacing: -0.03em
        b
          font-size: 2.4rem
          margin-bottom: 3rem
          display: block

  .center
    text-align: center
    width: 100%
    margin-top: 10rem

  &-list-wrapper
    width: 100%

  &-list-icon
    margin-top: 3rem
    display: flex
    width: 100%
    justify-content: space-around
    align-items: center
    img
      max-width: 13rem

@media screen and (max-width: $medium)
  .i-block-social
    left: 6.5rem
    width: calc(100vw - 14.5rem)
    height: calc(var(--vh, 1vh) * 100 - 15rem)

    &-sidebar
      width: 19.5rem
      padding-right: 2rem
      p
        margin-top: 14rem
        font-size: 1.2rem
        line-height: 140%
        margin-bottom: 2rem

      img
        max-width: 100%

    &-content
      max-width: calc(100% - 19.5rem)

    .row
      position: relative

    &-list
      flex-direction: column

    &-items
      width: 100%
      max-width: 26rem
      margin-bottom: 4rem

      &-image
        width: 10rem
        height: 10rem

      &-desc
        max-width: 14rem
        margin-left: 2rem
        p
          font-size: 1.3rem
          b
            font-size: 1.8rem
            margin-bottom: 2rem

    &-list-wrapper
      min-width: calc(100vw - 9rem)
      position: absolute
      left: 50%
      bottom: -2rem
      transform: translate(-50%, 100%)

    .center
      margin-top: 0rem

    .title-block
      margin-bottom: 9rem
@media screen and (max-width: $tablet)
  .i-block-social
    position: relative

@media screen and (max-width: 425px)
  .i-block-social
    height: auto
    padding-top: 12rem
    padding-bottom: 10rem
    padding-left: 2rem
    padding-right: 2rem
    left: 0
    width: 100%
    .title-block
      margin-bottom: 6rem

    &-sidebar
      padding-right: 3rem
      p
        margin-top: 0
        font-size: 1.4rem

    &-content
      padding-left: 0
      width: 18rem
      margin-left: auto

    &-items
      flex-direction: column

      &-desc
        margin-left: 0
        margin-top: 2rem

    &-list-wrapper
      left: 0rem
      transform: translate(0%, 0%)
      min-width: auto
      width: auto
      bottom: auto
      top: 26rem

    &-list-icon
      flex-direction: column-reverse
      padding: 2.4rem 0
      img
        margin-bottom: 4rem
        max-width: auto
        height: 2rem
        &:first-child
          margin-bottom: 0
