<template lang="pug">
.i-block-social
  h2.title-block The global leader <br>of social trading
  .row
    .i-block-social-sidebar
      p Over a million of registered clients from 140 countries get the best conditions possible with
      img(src="/image/logo-investing.svg", alt="alt")
    .i-block-social-content
      .i-block-social-list
        .i-block-social-items(v-for="(item, idx) in list", :key="idx")
          .i-block-social-items-image
            ISvg(
              :name="`bullet-${idx + 1}`",
              :delay="500",
              v-if="active > idx"
            )

          transition(name="social-desc")
            .i-block-social-items-desc(v-if="active > idx")
              p 
                b {{ item }}

              p Your funds are protected by industry-leading security protocols
      transition(name="social-list")
        .i-block-social-list-wrapper(v-if="active === 4")
          h4.center WE ACCEPT
          .i-block-social-list-icon
            img(src="/image/logo-1.svg", alt="alt")
            img(src="/image/logo-2.svg", alt="alt")
            img(src="/image/logo-3.svg", alt="alt")
            img(src="/image/logo-4.svg", alt="alt")
            img(src="/image/logo-5.svg", alt="alt")
            img(src="/image/logo-6.svg", alt="alt")
            img(src="/image/logo-7.svg", alt="alt")
</template>

<script>
export default {
  data() {
    return {
      active: 0
    };
  },
  props: {
    list: {
      type: Array
    }
  },
  mounted() {
    let self = this;
    let animationStart = setInterval(() => {
      self.active++;
      if (self.active === 4) {
        clearInterval(animationStart);
      }
    }, 500);
  }
};
</script>

<style lang="sass" scoped>
@import IBlockSocial
</style>
