.i-bg-front
  position: absolute
  left: 50%
  bottom: 0
  width: 100vw
  height: calc(var(--vh, 1vh) * 59)
  z-index: 70
  transform: translate3d(-50%, 0, 0) scale3d(1, 1, 1)
  & /deep/ .i-line
    top: calc(var(--vh, 1vh) * 0)

  img
    margin-top: 1px
    width: 100%

.step-down
  .ibg-front-enter-active
    transition: all 2s $bezier
    transition-delay: .8s

  .ibg-front-leave-active
    transition-delay: 1s

  .ibg-front-enter
    transform: translate3d(-50%, 200vh, 0) scale3d(2, 2, 1)

@media screen and (max-width: $medium)
  .i-bg-front
    width: 180vw

@media screen and (max-width: 425px)
  .i-bg-front
    transform: translate3d(-50%, 5%, 0) scale3d(1, 1, 1)
