<template lang="pug">
.i-bg-front
  img(src="/image/bg-front.png", alt="alt")
  transition(name="iline")
    ILine(v-if="animate")
</template>

<script>
export default {
  props: {
    animate: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data() {
    return {};
  }
};
</script>

<style lang="sass" scoped>
@import IBgFront
</style>
