<template lang="pug">
  .i-desc
    .i-desc-wrapper
      ITranslate(:start="translate" :title="['Opening', 'new horizons']", tag="h1")
      ITranslate.top(:start="translate" :title="['Join Trades.com and trade stocks', 'from the world’s top exchanges']", tag="h4")
      transition(name="fade")
        div(v-if="translate")
          IButton(text="join now")
          p or Try Demo Account

</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    num: {
      type: Number,
      default: 1,
      requider: false
    }
  },
  data() {
    return {
      translate: false
    };
  },
  computed: {
    ...mapState({
      step: state => state.step
    })
  },
  mounted() {
    setTimeout(() => {
      this.translate = true;
    }, 3000);
  }
};
</script>

<style lang="sass" scoped>
@import IDesc
</style>
