.i-desc
  position: absolute
  left: 0%
  top: 0%
  width: 100vw
  height: 100vh
  z-index: 75
  overflow: hidden
  &-wrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    position: absolute
    left: 0%
    top: 0%
    width: 100vw
    height: 100vh

  h1
    margin-bottom: 1.7rem
  h4
    margin-bottom: 2rem
  p
    margin-top: 3rem

// Visible change idesc
.step-2.step-down
  .idesc-leave-active
    transition-delay: 1s

.step-up.step-2
  .idesc-enter-active
    transition: .5s $bezier
    transition-delay: .5s

  .idesc-enter
    transform: translate(0%, -5vh)
    opacity: 0

.step-down.step-3
  .idesc-leave-active
    transition: .5s $bezier

  .idesc-leave-to
    transform: translate(0%, -5vh)
    opacity: 0

@media screen and (max-width: $medium)
  .i-desc
    h1
      margin-bottom: .7rem
    h4
      margin-bottom: 1.5rem
    p
      margin-top: 1.7rem

@media screen and (max-width: 425px)
  .i-block-one
    .i-desc
      &-wrapper
        padding-top: 30vh
  .i-block-two
    .i-desc
      &-wrapper
        height: 73vh

  .i-desc
    h4
      font-size: 1.5rem
